
<!-- We should find a way to only display the trips of the last search and not all the requests -->
<div class="recap-of search">
<!-- We should display here the informations we input in our search bar but currently problem to take only the information from ou request -->
  <p>City you want to escape: <%= @city %> Region you want to visit: <%= @region%></p>
  <p>Departure on: <%=  @starts_on%> Return on:<%= @returns_on%></p>
</div>

<div class="container-fluid">
  <div class="col-xs-12 col-sm-6">
    <div class="tabContainer">
      <div class="row ">
        <div class="flexbox">
          <div>ALL</div>
          <% @regions_airports.each do |airport| %>
            <div><%= airport %></div>
          <% end %>
        </div>
      </div>

      <% if @regions_airports.size > 0  %>
        <div class="row ">
          <div class="flexbox">
            <div><%= @regions_airports[0] %></div>
            <%= link_to trips_path do %>
              <div>
                <% if @trips0_0 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips0_0.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips0_1 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips0_1.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips0_2 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips0_2.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips0_3 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips0_3.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
          </div>
        </div>
      <% end  %>

      <% if @regions_airports.size > 1  %>
        <div class="row ">
          <div class="flexbox">
            <div><%= @regions_airports[1] %></div>
            <%= link_to trips_path do %>
              <div>
                <% if @trips1_0 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips1_0.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips1_1 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips1_1.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips1_2 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips1_2.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips1_3 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips1_3.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
          </div>
        </div>
      <% end  %>

      <% if @regions_airports.size > 2  %>
        <div class="row ">
          <div class="flexbox">
            <div><%= @regions_airports[2] %></div>
            <%= link_to trips_path do %>
              <div>
                <% if @trips2_0 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips2_0.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips2_1 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips2_1.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips2_2 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips2_2.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips2_3 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips2_3.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
          </div>
        </div>
      <% end  %>


      <% if @regions_airports.size > 3  %>
        <div class="row ">
          <div class="flexbox">
            <div><%= @regions_airports[3] %></div>
            <%= link_to trips_path do %>
              <div>
                <% if @trips3_0 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips3_0.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips3_1 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips3_1.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips3_2 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips3_2.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
            <%= link_to trips_path do %>
              <div>
                <% if @trips3_3 == [] %>
                  <%= "-" %>
                <% else %>
                  <%= @trips3_3.first.price.to_f %> €
                <% end %>
              </div>
            <% end  %>
          </div>
        </div>
      <% end  %>

    </div>
  </div>
</div>


