
<div class="flight-ticket-title text-center">
    <div class="banner-content">
    <%= link_to root_path do %>
    <%= image_tag "logo.png", class:"logo-1"%>
    <% end %>
  </div>
  <h1 class="">Your tickets to <%= @trip.region.name %></h1>
  <%= link_to "> Back to all flights", search_path(@search), class: "back" %>
</div>
<div class="banner-tickets">
  <div class="banner-tickets-content">

   <div class="container">
     <div id="fb-root"></div>
     <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="ticket-box">
     <!--  <div class="clip"></div> -->
  <!--       <ul class="left">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <ul class="right">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul> -->

        <div class="ticket">
          <span class="airline"><%= Constants::AIRLINES[@trip.round_trip_flight.carrier1] %></span>
          <span class="airline airlineslip"><%= @trip.round_trip_flight.f1_number %></span>
          <span class="boarding">Flying Away</span>
          <div class="content">
            <span class="jfk"><%= @trip.round_trip_flight.flight1_origin_airport_iata %></span>
            <span class="plane"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
            <span class="sfo"><%= @trip.round_trip_flight.flight1_destination_airport_iata %></span>

            <div class="sub-content">
              <span class="name">DATE<br><span><%= @trip.starts_on.strftime("%B %d") %></span></span>
              <span class="gate">DEPARTURE<br><span><%= @trip.round_trip_flight.flight1_take_off_at.localtime.strftime("%H:%M") %></span></span>
              <span class="seat">ARRIVAL<br><span><%= @trip.round_trip_flight.flight1_landing_at.localtime.strftime("%H:%M") %></span></span>
              <span class="name"><br><span><%= @trip.starts_on.strftime("%B %d") %></span></span>
              <span class="boardingtime">FROM<br><span><%=Constants::AIRPORTS[@search.city] %> </span></span>
              <span class="boardingtime-2">TO<br><span><%= Constants::CITY_REGION[@trip.round_trip_flight.flight1_destination_airport_iata]  %></span></span>

              <span class="flight flightslip">DESTINATION<br><span><%= @trip.region.name %></span></span>
              <span class="name nameslip">PASSENGERS<br><span><%= @trip.nb_travelers%></span></span>
              <span class="plane-1"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="45" width="45" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
            </div>
          </div>
        </div>
      </div>


      <div class="ticket-box-1">
        <!-- <div class="clip"></div> -->
  <!--       <ul class="left">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <ul class="right">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul> -->

        <div class="ticket-1">
          <span class="airline"><%= Constants::AIRLINES[@trip.round_trip_flight.carrier2] %></span>
          <span class="airline airlineslip"><%= @trip.round_trip_flight.f2_number %></span>
          <span class="boarding">Flying Back</span>
          <div class="content">
            <span class="jfk"><%= @trip.round_trip_flight.flight2_origin_airport_iata %></span>
            <span class="plane"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
            <span class="sfo"><%= @trip.round_trip_flight.flight2_destination_airport_iata %></span>

            <div class="sub-content">
              <span class="name">DATE<br><span><%= @trip.returns_on.strftime("%B %d") %></span></span>
              <span class="gate">DEPARTURE<br><span><%= @trip.round_trip_flight.flight2_take_off_at.localtime.strftime("%H:%M") %></span></span>
              <span class="seat">ARRIVAL<br><span><%= @trip.round_trip_flight.flight2_landing_at.localtime.strftime("%H:%M") %></span></span>
              <span class="boardingtime-1">FROM<br><span><%= Constants::CITY_REGION[@trip.round_trip_flight.flight2_origin_airport_iata] %></span></span>
              <span class="boardingtime-3">TO<br><span><%=Constants::AIRPORTS[@search.city] %></span></span>
              <span class="flight flightslip">ORIGIN<br><span><%= @trip.region.name %></span></span>
              <span class="name nameslip">PASSENGERS<br><span><%= @trip.nb_travelers%></span></span>
              <span class="plane-1"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="45" width="45" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="share text-center">
        <div class="fb-send" data-href="<%= request.original_url %>"></div>
      </div>
  </div>

  <div class="booking text-center">
    <h3>Your Booking</h3>
    <hr id="hr-title">
  <div id="booking-title">
    <p>ROADTRIP TO</p>
  </div>
  <div>
    <h4><%= @trip.region.name %></h4>
  <div id="booking-title">
    <p>PRICE / <%= @trip.nb_travelers%> TRAVELERS</p>
  </div>
    <h4><%= @trip.price.round%>€</h4>
    <%= render 'book_modal', modal_name: "book_modal" %>
    <button class="btn-brand" data-toggle="modal" data-target="#book_modal">BOOK</button>
  </div>

</div>


