<div class="big-wrapper">

  <div class="text-center">
  <h1 class=""> <%= @trip.region.name %> ! Lucky you </h1>
    <h2>You'll be there anytime soon !</h2>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <div id="wrapper text-center">
          <div id="slider">
        <!--     <a href="#" class="control_next">>></a>
        <a href="#" class="control_prev"><</a> -->
        <ul>
          <li><%= image_tag "greece.jpg"%></li>
          <li><%= image_tag "andalousie.jpeg"%></li>
          <li><%= image_tag "croatie.jpeg"%></li>
          <li><%= image_tag "france.jpg"%></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-show">
      <p> Congrats ! </p>
    </div>
  </div>



</div>

</div>

</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>

jQuery(document).ready(function ($) {

setInterval(function () {
moveRight();
}, 2500);


var slideCount = $('#slider ul li').length;
var slideWidth = $('#slider ul li').width();
var slideHeight = $('#slider ul li').height();
var sliderUlWidth = slideCount * slideWidth;

$('#slider').css({ width: slideWidth, height: slideHeight });

$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

$('#slider ul li:last-child').prependTo('#slider ul');

function moveLeft() {
$('#slider ul').animate({
left: + slideWidth
}, 200, function () {
$('#slider ul li:last-child').prependTo('#slider ul');
$('#slider ul').css('left', '');
});
};

function moveRight() {
$('#slider ul').animate({
left: - slideWidth
}, 200, function () {
$('#slider ul li:first-child').appendTo('#slider ul');
$('#slider ul').css('left', '');
});
};

$('a.control_prev').click(function () {
moveLeft();
});

$('a.control_next').click(function () {
moveRight();
});

});

<% end %>
<% end %>
