 <!-- bandeau du haut  -->

<div class="flight-ticket-title text-center">
    <div class="banner-content">
    <%= link_to root_path do %>
    <%= image_tag "logo.png", class:"logo-1"%>
    <% end %>
  </div>
  <h1 class=""> <%= @trip.round_trip_flight.region.name %>, Here we come ! </h1>
  <%= link_to "Change flights", search_path(@search), class: "back" %>

<!--   Terminer lien quand on peut récuperer l'id de car_rental -->
  <%= link_to "Change car", search_path(@search),  class: "back" %>

<!-- Code for the first result of car rental - to delete when we get selection -->
  <% result = CarRental.where(selection_id: 4) %>
  <% first_result = result.first %>


<!-- CODE FOR BOOK BUTTON -->
  <div class = "row">   <!-- Beg of row 9 -->
    <div class = "col-sm-12">
      <div class = text-center>
        <%= render 'shared/book_modal', modal_name: "book_modal" %>

        <button class="btn-brand final-book" data-toggle="modal" data-target="#book_modal">BOOK FOR <%= (@trip.price.round + first_result.price.round) %> <%= @trip.round_trip_flight.currency %> </button>
      </div>
    </div> <!-- End of booking button bootstrap col -->
  </div> <!-- End of row 9 -->
</div> <!-- end of flight-ticket-title -->

<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= image_tag Constants::DESTINATIONS[@trip.round_trip_flight.region.name]["image_1"], :width => 640, :height => 480 %>
   </div> <!-- end of col-xs-12 -->

   <div class="col-xs-12 col-md-6">

    <p>Awesome, here are your flight details for this new adventure </p>
    <div class="card">
      <div class="card-description">
        <div class="card-description-item">
        <!-- card description par colonne : aéroports de départs -->
          <p>
            <span class="flight-number"><%= @trip.round_trip_flight.f1_number %></span>
            <span class="hours"><%= @trip.round_trip_flight.flight1_take_off_at.localtime.strftime("%H:%M") %></span>
            <span class="airport">
              <%=Constants::AIRPORTS[@search.city] %> <span class="light-data"> <%= @trip.round_trip_flight.flight1_origin_airport_iata %></span>
            </span>
          </p>
          <p>
            <span class="flight-number"><%= @trip.round_trip_flight.f2_number %></span>
            <span class="info-label-back"><span class="hours"><%= @trip.round_trip_flight.flight2_take_off_at.localtime.strftime("%H:%M") %></span> <span class="airport"> <%= Constants::CITY_REGION[@trip.round_trip_flight.flight2_origin_airport_iata] %><span class="light-data"> <%= @trip.round_trip_flight.flight2_origin_airport_iata %> </span> </span> </span>
          </p>
        </div>

        <div class="card-description-item">
        <!-- card description par colonne : aéroports d'arrivée -->
          <p>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="info-label-go"> <span class="hours"> <%= @trip.round_trip_flight.flight1_landing_at.localtime.strftime("%H:%M") %> </span> <span class="airport"><%= Constants::CITY_REGION[@trip.round_trip_flight.flight1_destination_airport_iata]  %> <span class="light-data"><%= @trip.round_trip_flight.flight1_destination_airport_iata %></span> </span> </span>
          </p>
          <p>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="hours"><%= @trip.round_trip_flight.flight2_landing_at.localtime.strftime("%H:%M") %> </span> <span class="airport"> <%=Constants::AIRPORTS[@search.city] %> <span class="light-data"> <%= @trip.round_trip_flight.flight2_destination_airport_iata %> </span> </span>
          </p>
        </div>

        <div class="card-description-item">
          <p>
            <span class="light-data"> <span class="flight-label"> <%= Constants::AIRLINES[@trip.round_trip_flight.carrier1]  %> </span> </span>
          </p>
          <p>
            <span class="light-data"> <span class="flight-label"> <%= Constants::AIRLINES[@trip.round_trip_flight.carrier2]  %> </span> </span>
          </p>
        </div>
      </div> <!-- fin de card-description -->

      <div class="price-action">
        <div class="card-price ">
          <p><%= @trip.price.round %> €</p>
        </div> <!-- fin card-price -->
      </div><!-- fin price-action -->
    </div> <!-- end of flight-card -->

    <hr>

<!--     CAR CARD -->

    <p>Your travel buddy, <%= first_result.car.name %> waits for you at <%= Constants::CITY_REGION[@trip.round_trip_flight.flight1_destination_airport_iata]  %>: <%= first_result.pick_up_location  %> on <%= first_result.pick_up_date_time.strftime("%B %e") %> at <%= first_result.pick_up_date_time.strftime("%H:%M")  %> </p>

    <div class="card">
      <% if !first_result.car.image_url.nil? %>
        <%= image_tag first_result.car.image_url, height: 130, width: "auto", class: "card-image" %>
        <% end %>
      <div class="card-name"> <%= first_result.car.name %><span class="light-data"> or similar </span>
      </div>
      <div class = "card-price">
        <p> <%= first_result.price.round %> €</p>
      </div>
      <div class="card-category">
        <p><%= first_result.car.category %></p>
      </div>
      <div class = "card-infos">
        <div class = "door-infos">
          <%= image_tag "door.png", class: "door-icon" %> <span><%= first_result.car.doors %> doors </span>
        </div>
        <div class = "seats-infos">
          <%= image_tag "Seats.png", class: "seats-icon" %> <span><%= first_result.car.seats %> seats </span>
        </div>
      </div>
      <a class="card-link" href="#" ></a>
    </div>


   </div> <!-- end of col-xs-12 -->
</div> <!-- end of row -->



