<div class="big-wrapper">

  <div class="text-center">
  <h1 class=""> <%= @trip.region.name %> ...  </h1>
    <h2> ...lucky you !</h2>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <div id="wrapper text-center">
          <div id="slider">
            <a href="#" class="control_next">>></a>
            <a href="#" class="control_prev"><</a>
            <ul>
              <li><%= image_tag "central_europe/prague3.jpg"%></li>
              <li><%= image_tag "central_europe/church.jpg"%></li>
              <li><%= image_tag "central_europe/prague4.jpg"%></li>
            </ul>
          </div> <br>
          <div class="text-center">
            <%= link_to "Back to the other flights", search_path(@search), class: "btn btn-primary" %>
          </div>
        </div>
      </div>

  <div class="col-md-6">
    <div class="card-show text-center">
       <p><i class="fa fa-id-card-o" id="good-style" aria-hidden="true"></i> Obviously, you will be
        <% if @trip.nb_travelers == 1 %>
        solo
        <% else  %>
       <%=  @trip.nb_travelers %> passengers
        <% end %>
      </p>
        <hr class="padding-hr">
      <p id="good-style"><i class="fa fa-calendar-check-o" id="good-style" aria-hidden="true"></i> Yeah, on <%= @trip.starts_on.strftime("%B %d") %>  </p>
      <p> <i class="fa fa-plane" id="good-style" aria-hidden="true"></i> Your crazy trip will start from <%= @trip.city.name  %> <%= @trip.round_trip_flight.flight1_origin_airport_iata %> (so cool !) </p>
      <p> <i class="fa fa-flip-vertical fa-plane" id="good-style" aria-hidden="true"> </i> You will land at...wait for it!... <%= @trip.round_trip_flight.flight1_destination_airport_iata %>  </p>

      <hr>

      <p id="good-style"><i class="fa fa-calendar-check-o" id="good-style" aria-hidden="true"></i>  But, snif, on <%= @trip.returns_on.strftime("%B %d")   %> </p>
      <p><i class="fa fa-plane" id="good-style" aria-hidden="true"></i>  Don't forget to take your flight back from <%=  %> <%= @trip.round_trip_flight.flight2_origin_airport_iata %> </p>
      <p> <i class="fa fa-flip-vertical fa-plane" id="good-style" aria-hidden="true"> </i> And be back to <%= @trip.city.name  %> <%= @trip.round_trip_flight.flight2_destination_airport_iata %></p> <hr>
      <p> <i class="fa fa-credit-card" id="good-style" aria-hidden="true"></i> For only <%= @trip.price %> EUR</p>
      <h4>What a Road Trip, man ! </h4>
    </div>

      <div class="text-center button-padded">
        <div class="btn btn-success text-center">BOOK </div>
      </div>
    </div>



</div>

</div>

</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>

jQuery(document).ready(function ($) {

setInterval(function () {
moveRight();
}, 2500);


var slideCount = $('#slider ul li').length;
var slideWidth = $('#slider ul li').width();
var slideHeight = $('#slider ul li').height();
var sliderUlWidth = slideCount * slideWidth;

$('#slider').css({ width: slideWidth, height: slideHeight });

$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

$('#slider ul li:last-child').prependTo('#slider ul');

function moveLeft() {
$('#slider ul').animate({
left: + slideWidth
}, 200, function () {
$('#slider ul li:last-child').prependTo('#slider ul');
$('#slider ul').css('left', '');
});
};

function moveRight() {
$('#slider ul').animate({
left: - slideWidth
}, 200, function () {
$('#slider ul li:first-child').appendTo('#slider ul');
$('#slider ul').css('left', '');
});
};

$('a.control_prev').click(function () {
moveLeft();
});

$('a.control_next').click(function () {
moveRight();
});

});

<% end %>
<% end %>
