<div class="blocks center-block">
  <% @regions.each do |region| %>
    <div class = 'col-xs-6 col-md-4'>
      <input class = "hidden" name="regions[]" type="checkbox" id= "<%= region.name %>" value="<%= region.id%>" />
      <label for="<%= region.name %>">
        <a class="block profile-page-block destination <%=  'created' if @created_regions.include?(region) %> <%= 'reviewed' if @reviewed_regions.include?(region) %>" >
          <span class="image-opacity destination-opacity">
            <%= image_tag "countryphoto/#{region.name.downcase.delete(' ')}.jpg", class:"dest-image"%>
            <span class="box">
              <span class="text in-box">
                <span class="primarytext"><%= region.name %></span>
              </span>
            </span>
          </span>
          <span class = 'incomplete_feedback_text'>
            Incomplete feedback
          </span>
          <span class = 'complete_feedback_text'>
            Feedback completed
          </span>
          <span class ="photo-check blured-photo-check">
            <i class="fa fa-check" aria-hidden="true"></i>
          </span>
        </a>
      </label>

    </div>
  <% end %>
</div>
