<div class="page-banner text-center">
  <div class="page-banner-title">
    <div class = "col-md-12 title-col">
      <span> <%= link_to root_path do %>
        <%= image_tag "blue_logo_no_word.png", class: "logo"%>
      <% end %> </span>
      <span class ="brand-name">Planisfer</span>
      <div class = "banner2-title-flexbox">
        <span class = "banner2-title">Build your traveler profile... </span> </span> <span class = "banner2-title" id = "profile-banner2-title">and get personalized travel suggestions </span>
      </div>
    </div>
  </div>
  <span class = "booking-status text-desktop">
    <%= render 'shared/booking_status', :status => 1 %>
  </span>
</div>


<div class="container-fluid page-result page-profile">

  <div class = 'row'>
    <div class="col-xs-12 col-md-9 right-border">

       <%= render 'shared/progress_bar', :progress => current_member.profile_status %>

      <div class = 'row'>
        <div class = 'col-xs-12 text-center'>
          <h2 id = "profile-page-build">
            <%= @title_text[:text1] %>
          </h2>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-xs-12 text-center'>
          <div class = 'profile-explaination-text'>

          <p><%= @title_text[:text2] %></p>

          <p id = "start"><%= @title_text[:text3] %></p>
          </div>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-xs-12'>
          <div class = 'selection-title'>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <h4>Among these destinations, which ones did you love traveling to?</h4>
          </div>
        </div>
      </div>

      <%= form_tag create_experiences_path, method: :get do %>

        <div class = 'row'>

          <div class = 'col-xs-9'>
            <div class = 'row'>
              <div class="blocks center-block">
                <% @regions.each do |region| %>
                  <div class = 'col-xs-6 col-md-4'>
                    <input class = "hidden" name="regions[]" type="checkbox" id= "<%= region.name %>" value="<%= region.id%>" />
                    <label for="<%= region.name %>">
                      <a class="block profile-page-block destination <%= 'active created' if @created_regions.include?(region) %> <%= 'active reviewed' if @reviewed_regions.include?(region) %>" >
                        <span class="image-opacity destination-opacity">
                          <%= image_tag "countryphoto/#{region.name.downcase.delete(' ')}.jpg", class:"dest-image"%>
                          <span class="box">
                            <span class="text in-box">
                              <span class="primarytext"><%= region.name %></span>
                            </span>
                          </span>
                        </span>
                        <span class = 'incomplete_feedback_text'>
                          Incomplete feedback
                        </span>
                        <span class ="photo-check blured-photo-check">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </a>
                    </label>

                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class = 'col-xs-3'>
            <%= submit_tag "VALIDATE", class: "btn-brand", id: 'experience-validate'%>
          </div>
        </div>

      <% end %>

    </div>

    <div class="col-xs-12 col-md-3">
      <%= render 'shared/recommendations' %>
    </div>
  </div>

</div>


<%= content_for :after_js do %>

  <script>

    $(document).ready(function() {

      $('.profile-page-block').mouseenter(function() {
        $(this).addClass('entered');
        $(this).children('.image-opacity').removeClass('destination-opacity');
      })

      $('.profile-page-block').mouseleave(function() {
        $(this).removeClass('entered');
        $(this).children('.image-opacity').addClass('destination-opacity');
      })

      $('.profile-page-block').click(function() {
        if ($(this).hasClass('active')) {
          $(this).removeClass('active');
        } else {
          $(this).addClass('active');
        }
      })

    })

  </script>

<% end %>


