<div class = 'row'>
  <div class="page-banner">
    <div class = "col-md-12 title-col">
      <span> <%= link_to root_path do %>
        <%= image_tag "blue_logo_no_word.png", class: "logo"%>
      <% end %> </span>
      <span class ="brand-name">Planisfer</span>
        <span class = "banner2-title text-desktop">Build your traveler profile and get personalized suggestions...</span>
        <span class = "banner2-title text-mobile">Build your profile & get personalized suggestions</span>

      <span class = "booking-status">
    <%= render 'shared/booking_status', :status => 1 %>
  </span>
    </div>
  </div>
</div>


<div class="container-fluid page-result page-profile">

  <div class = 'row'>
    <div class="col-xs-12 col-md-9 right-border">

       <%= render 'shared/progress_bar', :progress => current_member.profile_status %>

      <div class = 'row'>
        <div class = 'col-xs-12 text-center'>
          <h2 id = "profile-page-build">
            <%= @title_text[:text1] %>
          </h2>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-xs-12 text-center text-desktop'>
          <div class = 'profile-explaination-text'>

          <p><%= @title_text[:text2] %></p>

          <p id = "start"><%= @title_text[:text3] %></p>
          </div>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-xs-12'>
          <div class = 'selection-title'>
            <i class="fa fa-caret-right text-desktop" aria-hidden="true"></i>
            <h4>Among these destinations, which ones did you love traveling to?</h4>
          </div>
        </div>
      </div>

      <%= form_tag create_experiences_path, method: :get do %>

        <div class = 'row text-desktop'>

          <div class = 'col-xs-9'>
            <div class = 'row left-adjustment'>
              <%= render 'dest_cards' %>
            </div>
          </div>

          <div class = 'col-xs-3 left-padding-fourty'>
            <%= render 'validate_btn' %>
          </div>

        </div>

        <div class = 'row text-mobile'>

          <div class = 'col-xs-12'>
            <div class = 'row'>
              <%= render 'dest_cards' %>
            </div>
          </div>

        </div>

        <div class = 'row text-mobile'>
          <div class = 'col-xs-12 text-center'>
            <%= render 'validate_btn' %>
          </div>
        </div>

      <% end %>

    </div>

    <div class = 'col-xs-12 empty-row text-mobile'>
    </div>

    <div class="col-xs-12 col-md-3">
      <%= render 'shared/recommendations' %>
    </div>
  </div>

</div>


<%= content_for :after_js do %>

  <script>

    $(document).ready(function() {

      $('.profile-page-block').mouseenter(function() {
        $(this).addClass('entered');
        $(this).children('.image-opacity').removeClass('destination-opacity');
      })

      $('.profile-page-block').mouseleave(function() {
        $(this).removeClass('entered');
        $(this).children('.image-opacity').addClass('destination-opacity');
      })

      $('.profile-page-block').click(function() {
        if ($(this).hasClass('active')) {
          $(this).removeClass('active');
        } else {
          $(this).addClass('active');
        }
        if ($('.profile-page-block').hasClass('active')) {
          $('.clickable-validate').removeClass('hidden');
          $('.non-clickable-validate').addClass('hidden');
        } else {
          $('.clickable-validate').addClass('hidden');
          $('.non-clickable-validate').removeClass('hidden');
        }
      })

    })

  </script>

  <script>
  $(document).ready(function() {
    $('.non-clickable-validate').popover();
    $('.non-clickable-validate').mouseenter(function(){
      $('.non-clickable-validate').popover('show');
    })
  })
  </script>

  <script>
  $(document).ready(function() {
    if($(window).width() <= 1024){
      $('.profile-page-block').addClass('dezoom');
      $('.selection-title').addClass('text-center');
      $('.dezoom').addClass('low-dezoom');
    }
  })
  </script>

<% end %>


