<span class = "booking-status-item <%= 'underline' if status == 1 %>">
  <span class="how-to-badge booking-status-badge">1</span>
  <p>Select a destination</p>
</span>
<span class = "booking-status-item <%= 'opacity' if status == 1 %> <%= 'underline' if status == 2 %>">
  <span class="how-to-badge booking-status-badge">2</span>
  <p>Book your flights</p>
</span>
<span class = "booking-status-item <%= 'opacity' if status <= 2 %> <%= 'underline' if status == 3 %>">
  <span class="how-to-badge booking-status-badge">3</span>
  <p>Book a car</p>
</span>
<span class = "booking-status-item <%= 'opacity' if status <= 3 %> <%= 'underline' if status == 4 %>">
  <span class="how-to-badge booking-status-badge">4</span>
  <p>Plan the details</p>
</span>
