<span class = "avatar-icon text-desktop">
  <% avatar_url = current_member.facebook_picture_url || "http://placehold.it/30x30" %>
  <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
<!--   <%= link_to destroy_member_session_path, method: :delete, class: 'avatar-text' do %>
    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
  <% end %> -->
</span>
<span class = "booking-status-item <%= 'underline' if status == 1 %>">
  <span class="how-to-badge booking-status-badge">1</span>
  <p>Build your traveler profile</p>
</span>
<span class = "booking-status-item <%= 'opacity' if status == 1 %> <%= 'underline' if status == 2 %>">
  <span class="how-to-badge booking-status-badge">2</span>
  <p>Book your flights</p>
</span>
<span class = "booking-status-item <%= 'opacity' if status <= 2 %> <%= 'underline' if status == 3 %>">
  <span class="how-to-badge booking-status-badge">3</span>
  <p>Book your car</p>
</span>
<span class = "booking-status-item <%= 'opacity' if status <= 3 %> <%= 'underline' if status == 4 %>">
  <span class="how-to-badge booking-status-badge">4</span>
  <p>Personalize your trip</p>
</span>
