<div class="trending text-center" id="trendy-destination">
  <div class="blocks center-block">
    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_2">
        <%= image_tag "countryphoto/croatia.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Croatia</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-8'>
      <a class="block lg destination" data-toggle="modal" data-target="#modal_1">
        <%= image_tag "countryphoto/greece.jpg", class:"dest-image"%>
        <div class = "favourite">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded" %>
          <span> Members' favourite</span>
        </div>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Greece</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_7">
        <%= image_tag "countryphoto/ireland.jpg", class:"dest-image"%>
        <div class = "favourite">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded" %>
          <span> Members' favourite</span>
        </div>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Ireland</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_4">
        <%= image_tag "countryphoto/southoffrance.jpg", class:"dest-image"%>
        <div class = "favourite">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded" %>
          <span> Members' favourite</span>
        </div>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">South of France</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_5">
        <%= image_tag "countryphoto/corsica.jpg", class:"dest-image"%>
        <div class = "favourite">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded" %>
          <span> Members' favourite</span>
        </div>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Corsica</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-8'>
      <a class="block lg destination" data-toggle="modal" data-target="#modal_6">
        <%= image_tag "countryphoto/portugal.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Portugal</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_8">
        <%= image_tag "countryphoto/scotland.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Scotland</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_3">
        <%= image_tag "countryphoto/romania.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Romania</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_10">
        <%= image_tag "countryphoto/andalucia.jpg", class:"dest-image"%>
        <div class = "favourite">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded" %>
          <span> Members' favourite</span>
        </div>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Andalucia</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_12">
        <%= image_tag "countryphoto/northofitaly.jpg", class:"dest-image"%>
        <div class = "favourite">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded" %>
          <span> Members' favourite</span>
        </div>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">North of Italy</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_9">
        <%= image_tag "countryphoto/northernspain.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Northern Spain</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-8'>
      <a class="block lg destination" data-toggle="modal" data-target="#modal_14">
        <%= image_tag "countryphoto/sardinia.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Sardinia</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_13">
        <%= image_tag "countryphoto/sicily.jpg", class:"dest-image"%>
        <div class = "favourite">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded" %>
          <span> Members' favourite</span>
        </div>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Sicily</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_11">
        <%= image_tag "countryphoto/southofitaly.jpg", class:"dest-image"%>
        <div class = "favourite">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded" %>
          <span> Members' favourite</span>
        </div>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">South of Italy</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" id = "more-to-come">
        <span class="box">
          <span class="text in-box">
            <span class="primarytext"> <p>Stay tuned! </p> <p>More destinations to come soon ...</p></span>
          </span>
        </span>
      </a>
    </div>

  </div> <!-- fin du blocks -->
</div> <!-- fin du trending -->
