<div class="trending text-center" id="trendy-destination">
  <div class="blocks">
    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_2">
        <%= image_tag "croatie.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Croatia</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-8'>
      <a class="block lg destination" data-toggle="modal" data-target="#modal_1">
        <%= image_tag "greece.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Greece</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_7">
        <%= image_tag "ireland/ring-of-kerry.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Ireland</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_4">
        <%= image_tag "france.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">South of France</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_5">
        <%= image_tag "corsica/cap-corse.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Corsica</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-8'>
      <a class="block lg destination" data-toggle="modal" data-target="#modal_6">
        <%= image_tag "portugal/evora.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Portugal</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_8">
        <%= image_tag "scotland.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Scotland</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_3">
        <%= image_tag "romania.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Romania</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_10">
        <%= image_tag "andalucia/granada.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Andalucia</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_12">
        <%= image_tag "north-of-italy/tuscany.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">North of Italy</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_9">
        <%= image_tag "northern-spain/costa-brava.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Northern Spain</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-8'>
      <a class="block lg destination" data-toggle="modal" data-target="#modal_14">
        <%= image_tag "sardinia/golfo-di-orosei.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Sardinia</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_13">
        <%= image_tag "sicily/ragusa.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">Sicily</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" data-toggle="modal" data-target="#modal_11">
        <%= image_tag "south-of-italy/puglie.jpg", class:"dest-image"%>
        <span class="box">
          <span class="text in-box">
            <span class="primarytext">South of Italy</span>
          </span>
        </span>
      </a>
    </div>

    <div class = 'col-md-4'>
      <a class="block sm destination" id = "more-to-come">
        <span class="box">
          <span class="text in-box">
            <span class="primarytext"> <p>Stay tuned! </p> <p>More destinations to come soon ...</p></span>
          </span>
        </span>
      </a>
    </div>

  </div> <!-- fin du blocks -->
</div> <!-- fin du trending -->
