<div id="poi-title">
<%= image_tag "heart-small.png", class:"favourite-heart heart-padded" %> <span>PLANISFER TRAVELERS' FAVOURITES IN <%= region.name.upcase%></span>
</div>

<div class="col-md-12">
  <div class="trending text-center" id="trendy-destination">
    <div class = "row">
      <div class="blocks">
        <% region.pois.each do |poi| %>
          <div class = 'col-lg-4 col-sm-6'>
            <span class="block xsm destination" data-toggle="modal" data-target="#modal_1">
              <%= image_tag "#{region.name.downcase.gsub(/\ /, '-')}/#{poi.downcase.gsub(/\ /, '-')}.jpg", class:"dest-image"%>
              <span class="box poi-card" data-poi = "<%= Poi.find_by_name(poi.strip).id %>"  data-region = "<%= region.id %>">
                <span class="text in-box">
                  <span class="primarytext"> <%= poi %></span>
                </span>
              </span>
            </span>
          </div>
        <% end %>
      </div> <!-- fin du blocks -->
    </div>
  </div> <!-- fin du trending -->
</div> <!-- fin du 2e col-xs-12 principal -->
