<div class = 'logo-row'>
  <div class = "row">
    <div class = 'logo-sub-row'>

      <div class = "col-xs-2">
        <%= image_tag "airlines/aireuropa.png", class: "small-airline-logo hidden", id: "airline1"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/airfrance.png", class: "small-airline-logo hidden", id: "airline2"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/austrian.png", class: "small-airline-logo hidden", id: "airline3"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/britishairways.png", class: "small-airline-logo hidden", id: "airline4"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/croatia.png", class: "small-airline-logo hidden", id: "airline5"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/easyjet.png", class: "small-airline-logo hidden", id: "airline6"%>
      </div>

    </div>

  </div>

  <div class = "row">

    <div class = 'logo-sub-row'>

      <div class = "col-xs-2">
        <%= image_tag "airlines/iberia.png", class: "small-airline-logo hidden", id: "airline7"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/lufthansa.png", class: "small-airline-logo hidden", id: "airline8"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/ryanair.png", class: "small-airline-logo hidden", id: "airline9"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/swissair.png", class: "small-airline-logo hidden", id: "airline10"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/transavia.png", class: "small-airline-logo hidden", id: "airline11"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/vueling.png", class: "small-airline-logo hidden", id: "airline12"%>
      </div>

    </div>

  </div>
</div>
