<div class = 'logo-row'>
  <div class = "row">
    <div class = 'logo-sub-row'>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/ace.png", class: "small-car-logo hidden", id: "car1"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/alamo.png", class: "small-car-logo hidden", id: "car2"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/avis.png", class: "small-car-logo hidden", id: "car3"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/budget.png", class: "small-car-logo hidden", id: "car4"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/centauro.png", class: "small-car-logo hidden", id: "car5"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/enterprise.png", class: "small-car-logo hidden", id: "car6"%>
      </div>

    </div>

  </div>

  <div class = "row">

    <div class = 'logo-sub-row'>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/europcar.png", class: "small-car-logo hidden", id: "car7"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/firefly.png", class: "small-car-logo hidden", id: "car8"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/goldcar.png", class: "small-car-logo hidden", id: "car9"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/hertz.png", class: "small-car-logo hidden", id: "car10"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/interrent.png", class: "small-car-logo hidden", id: "car11"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "carlogos/sixt.png", class: "small-car-logo hidden", id: "car12"%>
      </div>

    </div>

  </div>
</div>
