<% # Beg of row 1 %>
<div class = "recap-box">
  <div class = "row">
    <div class = "col-xs-12">
      <h3 class="text-center">Your roadtrip in <%= @trip.region.name %></h3>
      <hr id="hr-title">
    </div>
  </div>
  <% # End of row 1 %>

  <% # Beg of row 3 %>
  <div class = "row">
    <% #Beg of icon bootstrap col %>
    <div class = "col-sm-2">
      <%= image_tag "flight.png", height: "30px", width: "auto" %>
    </div>
    <% #End of icon bootstrap col %>
    <% #Beg of content bootstrap col %>
    <div class = "col-sm-10">
      <div class = "date">
        <%= @trip.starts_on.strftime("%B %d")%>
      </div>
      <div class = "origin-and-destination">
        <span> <%= @trip.city.name %></span> <span class="fa fa-long-arrow-right" aria-hidden="true"></span><span><%= Constants::CITY_REGION[@trip.round_trip_flight.flight1_destination_airport_iata] %></span>
      </div>
      <div class = "times">
        <span><%= @trip.round_trip_flight.flight1_take_off_at.strftime("%H:%M") %></span><span><%= @trip.round_trip_flight.flight1_landing_at.strftime("%H:%M") %></span>
      </div>
      <div class = "carrier">
        <%= Constants::AIRLINES[@trip.round_trip_flight.carrier1] %>
      </div>
      <hr id="hr-content">
    </div>
    <% #End of content bootstrap col %>
  </div>
  <% # End of row 3 %>
  <% # Beg of row 4 %>
  <div class = "row">
    <% #Beg of icon bootstrap col %>
    <div class = "col-sm-2">

    </div>
    <% #End of icon bootstrap col %>
    <% #Beg of content bootstrap col %>
    <div class = "col-sm-10">
      <div class = "date">
        <%= @trip.returns_on.strftime("%B %d")%>
      </div>
      <div class = "origin-and-destination">
        <span> <%= Constants::CITY_REGION[@trip.round_trip_flight.flight2_origin_airport_iata] %> </span> <span class="fa fa-long-arrow-right" aria-hidden="true"></span><span> <%= @trip.city.name %></span>
      </div>
      <div class = "times">
        <span><%= @trip.round_trip_flight.flight2_take_off_at.strftime("%H:%M") %></span><span><%= @trip.round_trip_flight.flight2_landing_at.strftime("%H:%M") %></span>
      </div>
      <div class = "carrier">
        <%= Constants::AIRLINES[@trip.round_trip_flight.carrier2] %>
      </div>
      <hr id="hr-title">
    </div>
    <% #End of content bootstrap col %>
  </div>
  <% # End of row 4 %>

  <% # Beg of row 10 %>
  <div class = "row">
    <% #Beg of icon bootstrap col %>
    <div class = "col-sm-2">

    </div>
    <% #End of icon bootstrap col %>
    <% #Beg of content bootstrap col %>
    <div class = "col-sm-10">

    </div>
    <% #End of content bootstrap col %>
  </div>
  <% # End of row 10 %>

  <% # Beg of row 5 %>
  <div class = "row">
    <% #Beg of icon bootstrap col %>
    <% # Il faudra mettre un if else avec la photo de la voiture choisie %>
    <div class = "col-sm-2">
        <%= image_tag "car.png", width: "30px", height: "auto", class: "car" %>
    </div>
    <% #End of icon bootstrap col %>
    <% #Beg of content bootstrap col %>
    <div class = "col-sm-10">
      <% # Il faudra mettre un if else avec les infos de la voiture choisie %>
       <%= link_to "Select your car" %>
    </div>
    <% #End of content bootstrap col %>
  </div>
  <% # End of row 5 %>



  <% # Beg of row 7 %>
  <div class = "row">
    <% #Beg of price recap bootstrap col %>
    <div class = "col-xs-12">
      <hr id="hr-title">
      <div id="booking-title">
        <p class = "text-center">PRICE / <%= @trip.nb_travelers%> TRAVELERS</p>
        <h4 class = "text-center"><%= @trip.price.round%>€</h4>
      </div>
    </div>
    <% #End of price recap bootstrap col %>
  </div>
  <% # End of row 7 %>


  <% # Beg of row 9 %>
  <div class = "row">
    <% #Beg of booking button bootstrap col %>
    <div class = "col-sm-12">
      <div class = text-center>
        <%= render 'shared/book_modal', modal_name: "book_modal" %>
        <button class="btn-brand" data-toggle="modal" data-target="#book_modal">BOOK</button>
      </div>
    </div>
    <% #End of booking button bootstrap col %>
  </div>
  <% # End of row 9 %>

</div>
