<div class="page-banner text-center">
  <div class="page-banner-title">
    <div class = "col-md-12 title-col">
      <span> <%= link_to root_path do %>
        <%= image_tag "blue_logo_no_word.png", class: "logo"%>
      <% end %> </span>
      <span class ="brand-name">Planisfer</span>
      <span class = "banner2-title">Let's plan the details of your trip to <%= @region.name %>!</span>
    </div>
  </div>
  <span class = "booking-status">
    <%= render 'shared/booking_status', :status => 4 %>
  </span>
</div>

<div class = 'container-fluid planning-page'>
  <div class = "row" id = "planning-page-subtitle">
    <h4>Congrats! Your transports are booked. You can now plan all the details for a fantastic trip in <%= @region.name %>. </h4>
  </div>

  <div class = 'row'>
    <div class = 'col-md-8'>

      <div id="poi-title">
        <h3>MOST UPVOTED TRIPS IN <%= @region.name.upcase%> </h3>
      </div>

      <div class = 'row upvoted-trips'>

        <div class = 'col-md-6'>
          <div class = 'traveler-card'>

            <div class="trip-card">
              <div class="card trip-card">
                <div class="trip-length">Nicolas' trip - 10 days</div>
                <div class="trip-map">
                  <%= image_tag "trip-nico.png", class: "trip-map-picture" %>
                </div>

                <div class = "trip-card-content">
                  <h5>My top 3</h5>
                  <ul>
                  <li class = 'trip-content'>
                    Alhambra palace in Granada
                  </li>
                  <li class = 'trip-content'>
                    White villages
                  </li>
                  <li class = 'trip-content'>
                    Hotel Molino close to Ronda
                  </li>
                  </ul>
                </div>
                <%= image_tag 'nicolas.jpg', class: "card-user avatar"%>
                <div class='product-upvote'>
                  <span class="product-arrow"></span>
                  <span class='product-count'> <span style= "font-weight: bold">37</span> travelers</span>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class = 'col-md-6'>
          <div class = 'traveler-card'>
            <div class="trip-card">
              <div class="card trip-card">
                <div class="trip-length">Marine's trip - 8 days</div>
                <div class="trip-map">
                  <%= image_tag "trip-nico.png", class: "trip-map-picture" %>
                </div>

                <div class = "trip-card-content">
                  <h5>My top 3</h5>
                  <ul>
                  <li class = 'trip-content'>
                    Flamenco shows
                  </li>
                  <li class = 'trip-content'>
                    White villages
                  </li>
                  <li class = 'trip-content'>
                    Cordoba and its tapas bars
                  </li>
                  </ul>
                </div>
                <%= image_tag 'marine.jpg', class: "card-user avatar"%>
                <div class='product-upvote'>
                  <span class="product-arrow"></span>
                  <span class='product-count'> <span style= "font-weight: bold">95</span> travelers</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class = 'row'>
        <%= render 'shared/favourites', :region => @region %>
      </div>

      <div class="airport-map">
        <div id="map", style="width: 100%; height: 500px;"></div>
      </div>
      <div class = "legends">
        <img><%= image_tag "dot_marker.png", class: "legend_highlight"%> Planisfer travelers' favourite destinations </img>
        <img><%= image_tag "airport-black.svg", class: "legend_airport" %> Your airports </img>
      </div>

    </div>

    <div class = 'col-md-4'>

    <div class="sticky-form">
        <div class="form-post">
          <h1>Our travel coaches are here to help</h1>
          <% if flash[:search_error] %>
            <p class="red-message"><%= flash[:search_error] %></p>
          <% end %>

            <div class="row text-center">
              <div class = 'col-xs-12'>
                <p>Not sure what to visit in <%= @region.name %>? <br> Need some help to find the best hotels? <br> Don't hesitate to reach out</p>
              </div>
            </div>

            <%= form_tag add_question_path, method: :get do %>
              <div class = "row">
                <div class = 'email-form'>
                  <div class="col-md-8">
                    <% if @order.question.nil? %>
                      <%= text_field_tag :question, nil, placeholder: "Email us", class: "form-control high-form", id:"text_field" %>
                    <% else %>
                      <%= text_field_tag :question, nil, placeholder: "Thanks! We 'll get back soon.", class: "form-control high-form", id:"text_field" %>
                   <% end %>

                  </div>

                  <div class="col-md-4">
                    <%= hidden_field_tag 'trip_id', @trip.id %>
                    <%= hidden_field_tag 'order_id', @order.id %>
                    <%= submit_tag 'SEND', class: 'btn-brand next-button', id: 'send-button' %>
                  </div>
                </div>

              </div>
            <% end %>

            <div class = "row">
              <div class="col-xs-12 text-center">
                <p>Or give us a call at 00 33 6 30 87 20 04</p>
                <p>We'd love to talk and help you continue plan your trip</p>
              </div>
            </div>

        </div> <!-- fin du form-post -->
      </div> <!-- fin de sticky-form -->

    </div>

  </div>
</div>

<% content_for(:after_js) do %>

  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');

      handler.buildMap({
        provider: {
          scrollwheel: false,
          styles: [
            {"featureType":"administrative","elementType":"labels.text","stylers":[{"color":"#444444"}, {"visibility":"off"}]},
            // {"featureType":"administrative.province","elementType":"labels.text","stylers":[{"color":"#444444"}, {"visibility":"on"}]},
            {"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},
            {"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},
            {"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},
            {"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},
            {"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},
            {"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},
            {"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}
          ]
        },
        internal: { id: 'map' }}, function() {
          markers = handler.addMarkers( <%= raw @initial_markers.to_json %> );
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();

          for (var i = 0; i < markers.length; i++) {
            var selectedMarker = markers[i];
            //create an options object
            var testTooltipHtml = selectedMarker.serviceObject.title ;
            var tooltipOptions={ marker:selectedMarker, content:testTooltipHtml};
            // create the tooltip
            var tooltip = new Tooltip(tooltipOptions);
          };

        },
      );
    });

    $('.poi-card').mouseenter('click', function(e) {
      e.preventDefault();
      var poiId = $(this).data('poi');
      var regionId = $(this).data('region');
      $.ajax({
        type: "GET",
        url: '/pois/' + poiId + '/highlight_poi',
        data: {region_id: regionId},
        dataType: "json",
        success: function(result) {
          // console.log('test')
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
            handler.removeMarkers(markers);
          }
          markers = handler.addMarkers(result);
          var marker = markers[0];
          new google.maps.event.trigger( marker.serviceObject, 'click' );
        }
      })
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    })

  </script>

  <script>
  // create a constructor
    function Tooltip(options) {
      // Now initialize all properties.
      this.marker_ = options.marker;
      this.content_ = options.content;
      this.map_ = options.marker.serviceObject.map;
      this.cssClass_ = options.cssClass||null;
      // We define a property to hold the content's
      // div. We'll actually create this div
      // upon receipt of the add() method so we'll
      // leave it null for now.
      this.div_ = null;
      //Explicitly call setMap on this overlay
      this.setMap(this.map_);
      var me = this;
      // Show tooltip on mouseover event.
      me.show();
      // Hide tooltip on mouseout event.

    }

    // Now we extend google.maps.OverlayView()
    Tooltip.prototype = new google.maps.OverlayView();
    // onAdd is one of the functions that we must implement,
    // it will be called when the map is ready for the overlay to be attached.
    Tooltip.prototype.onAdd = function() {
      // Create the DIV and set some basic attributes.
      var div = document.createElement('DIV');
      div.style.position = "absolute";
      // Hide tooltip
      // div.style.visibility = "hidden";
      if(this.cssClass_)
      div.className += " "+this.cssClass_;
      //Attach content to the DIV.
      div.innerHTML = this.content_;
      // Set the overlay's div_ property to this DIV
      this.div_ = div;
      // We add an overlay to a map via one of the map's panes.
      // We'll add this overlay to the floatPane pane.
      var panes = this.getPanes();
      panes.floatPane.appendChild(this.div_);
    }

    // We here implement draw
    Tooltip.prototype.draw = function() {
    // Position the overlay. We use the position of the marker
    // to peg it to the correct position, just northeast of the marker.
    // We need to retrieve the projection from this overlay to do this.
    var overlayProjection = this.getProjection();
    // Retrieve the coordinates of the marker
    // in latlngs and convert them to pixels coordinates.
    // We'll use these coordinates to place the DIV.
    console.log(this.marker_.serviceObject.position)
    var ne = overlayProjection.fromLatLngToDivPixel(this.marker_.serviceObject.position);
    // Position the DIV.
    var div = this.div_;
    div.style.left = ne.x + 'px';
    div.style.top = ne.y + 'px';
    }

    Tooltip.prototype.show = function() {
      if (this.div_) {
        this.div_.style.visibility = "visible";
      }
    }

  </script>


<% end %>

