<div class = 'logo-row'>
  <div class = "row">
    <div class = 'logo-sub-row'>

      <div class = "col-xs-2">
        <%= image_tag "airlines/aireuropa.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/airfrance.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/austrian.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/britishairways.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/croatia.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/easyjet.png", class: "small-airline-logo"%>
      </div>

    </div>

  </div>

  <div class = "row">

    <div class = 'logo-sub-row'>

      <div class = "col-xs-2">
        <%= image_tag "airlines/iberia.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/lufthansa.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/ryanair.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/swissair.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/transavia.png", class: "small-airline-logo"%>
      </div>

      <div class = "col-xs-2">
        <%= image_tag "airlines/vueling.png", class: "small-airline-logo"%>
      </div>

    </div>

  </div>
</div>
