<!-- Open the modal -->

<div class="modal fade bs-example-modal-lg" id="<%= modal_name %>" tabindex="-1" role="dialog" aria-labelledby="<%= modal_name %>">
  <div class="modal-dialog home-modal" role="document">
    <div class="modal-content">
      <div class="modal-content-destination">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">
            <%= this_region.name%>
          </h4>
        </div>

        <div class="modal-body text-center">
          <%= image_tag "heart.png", class:"favourite-heart heart-padded " %><span class = 'italic'> Planisfer members have left tips & suggestions of itineraries in <%= this_region.name %>. Get access to them, once your transports are booked. </span>
          <p class = 'description'><%= this_region.description %></p>


          <!-- Beginning of the slider -->

          <form class="slider">
            <input type="radio" id="img01" name="img" checked="checked"/>
            <input type="radio" id="img02" name="img"/>
            <input type="radio" id="img03" name="img"/>
            <input type="radio" id="img04" name="img"/>
            <input type="radio" id="img05" name="img"/>
            <input type="radio" id="img06" name="img"/>
            <input type="radio" id="img07" name="img"/>
            <div class="slider-window">
              <label for="img01"></label>
              <label for="img02"></label>
              <label for="img03"></label>
              <label for="img04"></label>
              <label for="img05"></label>
              <label for="img06"></label>
              <label for="img07"></label>
              <div class="slider-images">
                <figure>
                  <div class = "row">
                    <% for num in (0..this_region.pois.count - 1) %>
                      <div class = "col-md-6">
                        <div class = "center-block slider-img-container">
                          <h5> <%= this_region.pois[num] %> </h5>
                          <div style='background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= image_path("#{this_region.name.downcase.gsub(/\ /, '-')}/#{this_region.pois[num].downcase.gsub(/\ /, '-')}.jpg") %>)'; class = "img-slider">
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </figure>
              </div>
            </div>
          </form>

          <!-- End of the slider -->

        </div> <!-- end of modal header -->
      </div> <!-- end of modal content destination -->
    </div> <!-- end of modal content -->
  </div> <!-- end of modal dialog -->
</div> <!-- end of modal fame -->
<!-- end of the modal -->


