<!-- Open the modal -->

<div class="modal fade bs-example-modal-lg" id="<%= modal_name %>" tabindex="-1" role="dialog" aria-labelledby="<%= modal_name %>">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
          <%= Constants::DESTINATIONS[this_city]["title"] %>
        </h4>
      </div>
      <div class="modal-body">
        <p> <%= Constants::DESTINATIONS[this_city]["text"] %> </p>

        <br>

        <!-- Beginning of the slider -->

        <form class="slider">
          <input type="radio" id="img01" name="img" checked="checked"/>
          <input type="radio" id="img02" name="img"/>
          <input type="radio" id="img03" name="img"/>
          <input type="radio" id="img04" name="img"/>
          <input type="radio" id="img05" name="img"/>
          <input type="radio" id="img06" name="img"/>
          <input type="radio" id="img07" name="img"/>
          <div class="slider-window">
            <label for="img01"></label>
            <label for="img02"></label>
            <label for="img03"></label>
            <label for="img04"></label>
            <label for="img05"></label>
            <label for="img06"></label>
            <label for="img07"></label>
            <div class="slider-images">
               <figure>

                 <%= image_tag Constants::DESTINATIONS[this_city]["image_1"], :width => 500, :height => 450, :class => "img-slider" %>
                 <p> <%= Constants::DESTINATIONS[this_city]["title_image_1"] %> </p>
               </figure>

               <figure>
                 <figcaption></figcaption>
                 <%= image_tag Constants::DESTINATIONS[this_city]["image_2"],:class => "img-slider" %>
                 <p> <%= Constants::DESTINATIONS[this_city]["title_image_2"] %> </p>
               </figure
              ><figure>
                 <figcaption></figcaption>
                 <%= image_tag Constants::DESTINATIONS[this_city]["image_3"], :class => "img-slider" %>
                 <p> <%= Constants::DESTINATIONS[this_city]["title_image_3"] %> </p>
               </figure
               </figure
              ><figure>
                  <figcaption></figcaption>
                  <%= image_tag Constants::DESTINATIONS[this_city]["image_4"], :class => "img-slider" %>
                  <p> <%= Constants::DESTINATIONS[this_city]["title_image_4"] %> </p>
               </figure
               </figure>
               <figure>
                  <figcaption></figcaption>
                  <%= image_tag Constants::DESTINATIONS[this_city]["image_5"], :class => "img-slider" %>
                  <p> <%= Constants::DESTINATIONS[this_city]["title_image_5"] %> </p>
               </figure
              ><figure>
                  <figcaption></figcaption>
                  <%= image_tag Constants::DESTINATIONS[this_city]["image_6"],:class => "img-slider" %>
                  <p> <%= Constants::DESTINATIONS[this_city]["title_image_6"] %> </p>
               </figure>
            </div>
          </div>
        </form>

        <!-- End of the slider -->

      </div>
    </div>
  </div>
</div>
<!-- end of the modal -->


