<!-- Open the modal -->

<div class="modal fade bs-example-modal-lg" id="<%= modal_name %>" tabindex="-1" role="dialog" aria-labelledby="<%= modal_name %>">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
          <%= Constants::DESTINATIONS[this_city]["title"] %>
        </h4>
      </div>
      <div class="modal-body">
        <p> <%= Constants::DESTINATIONS[this_city]["text"] %> </p>

        <br>

        <!-- Beginning of the slider -->
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
              <div class="slide">
              <!-- <img src="../../assets/images/croatia/dubrovnik.jpg" alt=""> -->
              <%= image_tag Constants::DESTINATIONS[this_city]["image_1"] %>
              </div>
            <div class="nav">
              <label for="img-6" class="prev">&#x2039;</label>
              <label for="img-2" class="next">&#x203a;</label>
            </div>
            </li>

            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <%= image_tag Constants::DESTINATIONS[this_city]["image_2"] %>
                </div>
            <div class="nav">
              <label for="img-1" class="prev">&#x2039;</label>
              <label for="img-3" class="next">&#x203a;</label>
            </div>
            </li>

            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <%= image_tag Constants::DESTINATIONS[this_city]["image_3"] %>
                </div>
            <div class="nav">
              <label for="img-2" class="prev">&#x2039;</label>
              <label for="img-4" class="next">&#x203a;</label>
            </div>
            </li>

            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <%= image_tag Constants::DESTINATIONS[this_city]["image_4"] %>
                </div>
            <div class="nav">
              <label for="img-3" class="prev">&#x2039;</label>
              <label for="img-5" class="next">&#x203a;</label>
            </div>
            </li>

            <input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                  <%= image_tag Constants::DESTINATIONS[this_city]["image_5"] %>
                </div>
            <div class="nav">
              <label for="img-4" class="prev">&#x2039;</label>
              <label for="img-6" class="next">&#x203a;</label>
            </div>
            </li>

            <input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                  <%= image_tag Constants::DESTINATIONS[this_city]["image_6"] %>
                </div>
            <div class="nav">
              <label for="img-5" class="prev">&#x2039;</label>
              <label for="img-1" class="next">&#x203a;</label>
            </div>
            </li>

            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
              <label for="img-5" class="nav-dot" id="img-dot-5"></label>
              <label for="img-6" class="nav-dot" id="img-dot-6"></label>
            </li>
        </ul>

        <!-- End of the slider -->
      </div>
    </div>
  </div>
</div>
<!-- end of the modal -->


