<div class="modal fade" id="wait_modal" tabindex="-1" role="dialog" aria-labelledby="wait_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title" id="myModalLabel">Looking for the best flights for your trip ...</h4>
      </div>
      <div class="modal-body background">

        <div class = "row">
          <div class = 'modal-row'>
            <div class = "col-md-10">
              <span id = "text1">Identifying all possible airports</span>
            </div>
            <div class = "col-md-2">
              <div id = "wait1"><%= render 'modal_checkbox' %></div>
              <div class = "modal-checkbox hidden", id = "checked1"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = 'modal-row'>
            <div class = "col-md-12">
              <span class = "light", id = "text2">Searching the cheapest flights</span>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = 'modal-sub-row'>

            <div class = "col-md-10">
              <span class = "light", id = "text2bis">Return flights (same arrival and departure airports)</span>
            </div>

            <div class = "col-md-2">
              <div id = "wait2"><%= render 'modal_checkbox' %></div>
              <div class = "modal-checkbox sub-checkbox hidden", id = "checked2"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></div>
            </div>

          </div>
        </div>

        <div class = "row">
          <div class = 'modal-sub-row'>

            <div class = "col-md-10">
              <span class = "light", id = "text3">Multi-city flights (different arrival and departure airports)</span>
            </div>

            <div class = "col-md-2">
              <div id = "wait3"><%= render 'modal_checkbox' %></div>
              <div class = "modal-checkbox sub-checkbox hidden", id = "checked3"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></div>
            </div>

          </div>
        </div>

        <div class = "row">
          <div class = 'modal-row'>
            <div class = "col-md-10">
              <span class = "light", id = "text4">Filtering direct flights only</span>
            </div>
            <div class = "col-md-2">
              <div id = "wait4"><%= render 'modal_checkbox' %></div>
              <div class = "modal-checkbox hidden", id = "checked4"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>

        <%= render 'modal_airlines' %>

      </div>
    </div>
  </div>
</div>

