  <div class="row">
    <div class="col-xs-12 padding-off">
      <div class="banner background-work">
        <div class="banner-content">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", class:"logo"%>
          <% end %>

          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <div class="banner-title">
                 <h1>Roadtrips in Europe</h1>
                 <h3>Find the best way to discover new regions</h3>
                </div>
                <div class="text-center">
                  <a href="#trendy-destination">
                    <%= image_tag "arrow.png", class: "floating arrow-img" %>
                  </a>
                </div>
              </div> <!-- fin du col-xs-12 col-md-8 -->

              <div class="col-xs-12 col-md-4">
                <div class="sticky-form">
                  <div class="form-post text-center">
                    <h1>Book your flights</h1>
                    <% if flash[:search_error] %>
                      <p class="red-message"><%= flash[:search_error] %></p>
                    <% end %>
                    <%=form_tag searches_path, :controller => 'searches', method: :post, id: "new_result" do %>
                      <div class="row">
                        <div class="col-xs-6">

                        <%= select_tag :city, options_from_collection_for_select(Airport.all,:iata, :content), class: "js-airports-list input-lg form-control select2-css", :prompt => "From" %>

                        <%#= text_field_tag :city, nil, placeholder: "From", id: "js-airports-list", class: "input-lg form-control"  %>

                        </div>

                        <div class="col-xs-6">
                          <%= select_tag  :region, options_for_select(Constants::REGIONS.sort), class: "input-lg form-control", prompt: "To" %>
                        </div>
                        <div class="col-xs-12">
                          <%= text_field_tag :starts_on, nil, placeholder: "Departure", "class" => 'input-lg form-control datepicker text-center'%>
                          <%= text_field_tag :returns_on, nil, placeholder: "Return", "class" => ' input-lg form-control datepicker text-center' %>

                          <h3>Number of travelers</h3>
                          <div class="group" data-toggle="buttons">
                            <div class="travelers-btn-container">
                              <% Constants::TRAVELERS.each do |number, text| %>

                                <label class="btn btn-circle">
                                  <input type="radio" name="nb_travelers" id="option<%= number %>" value="<%= number %>" autocomplete="off"> <%= text %>
                                </label>
                              <% end %>
                            </div> <!-- fin travelers-btn-container -->
                          </div> <!-- fin de group -->
                          <%= submit_tag "SEARCH", class: "btn-brand btn-big", 'data-toggle' => "modal", 'data-target' => '#wait_modal' %>
                        </div> <!-- fin du col -->
                      <%end%>
                    </div> <!-- fin du row -->
                  </div> <!-- fin du form-post -->
                 </div> <!-- fin de sticky-form -->
              </div> <!-- fin du col-xs-12 col-md-4 -->
            </div><!--  fin du row -->
          </div> <!-- fin du container  -->
        </div> <!-- fin de banner-content -->
      </div> <!-- fin de banner -->
    </div> <!-- fin du 1er col-xs-12 principal -->


    <%= render 'wait_modal', modal_name: "wait_modal" %>


      <div class="col-md-9">
      <!-- default size of col-md-9 changed to free the form -->

        <div class="trending" id="trendy-destination">
          <h1 class="banner2-title "><strong>Trendy destinations</strong></h1>

          <div class="blocks">
            <a class="block sm destination" data-toggle="modal" data-target="#modal_1">
              <%= image_tag "croatie.jpg", class:"dest-image"%>
              <span class="box">
                <span class="text in-box">
                  <span class="primarytext">Croatia</span>
                </span>
              </span>
            </a>

            <a class="block lg destination" data-toggle="modal" data-target="#modal_2">
              <%= image_tag "greece.jpg", class:"dest-image"%>
              <span class="box">
                <span class="text in-box">
                  <span class="primarytext">Greece</span>
                </span>
              </span>
            </a>

            <a class="block sm destination" data-toggle="modal" data-target="#modal_3">
              <%= image_tag "romania.jpg", class:"dest-image"%>
              <span class="box">
                <span class="text in-box">
                  <span class="primarytext">Romania</span>
                </span>
              </span>
            </a>

            <a class="block sm destination" data-toggle="modal" data-target="#modal_4">
              <%= image_tag "france.jpg", class:"dest-image"%>
              <span class="box">
                <span class="text in-box">
                  <span class="primarytext">South-of-France</span>
                </span>
              </span>
            </a>

            <a class="block sm destination" data-toggle="modal" data-target="#modal_5">
              <%= image_tag "corsica.jpg", class:"dest-image"%>
              <span class="box">
                <span class="text in-box">
                  <span class="primarytext">Corsica</span>
                </span>
              </span>
            </a>
            <a class="block lg destination" data-toggle="modal" data-target="#modal_6">
              <%= image_tag "portugal.jpg", class:"dest-image"%>
              <span class="box">
                <span class="text in-box">
                  <span class="primarytext">Portugal</span>
                </span>
              </span>
            </a>
            <a class="block sm destination" data-toggle="modal" data-target="#modal_7">
              <%= image_tag "scotland.jpg", class:"dest-image"%>
              <span class="box">
                <span class="text in-box">
                  <span class="primarytext">Scotland</span>
                </span>
              </span>
            </a>
            <a class="block sm destination" data-toggle="modal" data-target="#modal_8">
              <%= image_tag "test.jpg", class:"dest-image"%>
              <span class="box">
                <span class="text in-box">
                  <span class="primarytext">Ireland</span>
                </span>
              </span>
            </a>

          </div> <!-- fin du blocks -->
        </div> <!-- fin du trending -->
      </div> <!-- fin du 2e col-xs-12 principal -->

      <div class="col-md-3">
      </div>

      <hr>

    <!-- CALLS OF MODALS -->

      <%# FIRST PART %>
      <%= render 'slider',
      this_city: "Croatia",
      modal_name: 'modal_1' %>
      <%# END of FIRST PART %>

      <%# PART 2 %>
      <%= render 'slider',
      this_city: "Greece",
      modal_name: 'modal_2' %>
      <%# END OF PART 2 %>

      <%# PART 3 %>
      <%= render 'slider',
      this_city: "Romania",
      modal_name: 'modal_3' %>
      <%# END OF PART 3 %>

      <%# PART 4 %>
      <%= render 'slider',
      this_city: "South-of-france",
      modal_name: 'modal_4' %>
      <%# END OF PART 4 %>

      <%# PART 5 %>
      <%= render 'slider',
      this_city: "Corsica",
      modal_name: 'modal_5' %>
      <%# END OF PART 5 %>

      <%# PART 6 %>
      <%= render 'slider',
      this_city: "Portugal",
      modal_name: 'modal_6' %>
      <%# END OF PART 6 %>

      <%# PART 7 %>
      <%= render 'slider',
      this_city: "Scotland",
      modal_name: 'modal_7' %>
      <%# END OF PART 7 %>

      <%# PART 8 %>
      <%= render 'slider',
      this_city: "Ireland",
      modal_name: 'modal_8' %>
      <%# END OF PART 8 %>


    <!-- END OF MODALS  -->

    <div class="col-xs-12 padding-off">
      <div class="banner-content text-center">
        <h1 class="banner2-title" id="why"><strong>Why use Planisfer </strong></h1>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="">
        <div id="description-usp">
        </div>
          <div class="container">
            <div class="row">
              <div class=" col-xs-12 col-md-4  text-center">
               <%= image_tag "europe.png", class: "glasses-img" %>
               <p id="usp-title"> <strong>Get inspiration</strong></p>
               <p>to travel through Europe</p>
              </div>
              <div class=" col-xs-12 col-md-4  text-center">
                <%= image_tag "flight.png", class: "glasses-img" %>
                <p id="usp-title"><strong>Find the best flights</strong> </p>
                <p>combo for your roadtrip</p>
              </div>
              <div class=" col-xs-12 col-md-4  text-center">
               <%= image_tag "money.png", class: "glasses-img" %>
               <p id="usp-title"><strong>Save money & time</strong> </p>
               <p>with our flights comparator</p>
             </div>
            </div>
          </div>

          <div class="footer text-center">
            <div class="container">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                  <div class="text-footer">
                    <ul class="list-unstyled list-inline">
                      <li>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                          Who are we ?
                        </button>
                      </li>
                      <!-- <li> Mentions légales </li> -->
                    </ul>
                    <br>
                    Made with <i class="fa fa-heart"></i> @LeWagon
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div> <!-- fin du 3e col-xs-12 -->
  </div> <!-- fin du row principal -->
</div> <!-- fin du container -->

<!-- The Team Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"> Who are we ? </h4>
      </div>
      <div class="modal-body">
        <p class="text-center">
          Planisfer was realised during the Wagon Coding Bootcamp. <br> <br>
          We developed the product from the idea to the technical conception. <br>
          We are still working on the website to improve the offer. <br>
          Come over regularly :)
        </p>
      </div>
    </div>
  </div>
</div>




<!-- Button trigger modal -->



<%= content_for :after_js do %>
<script>

  // Autocomplete

  // var airports = ["Paris", "Berlin", "Dublin", "Barcelona", "Florence", "Poitiers"];
  // var airports = Airport.all;

  // $(document).ready(function() {
  //   $("#js-airports-list").autocomplete({
  //     source : airports,
  //     value: "From",
  //   });
  // });

  $(document).ready(function() {
    $("select.js-airports-list").select2({
      placeholder: 'From',
      allowClear: true,
      minimumInputLength: 3
    });
  });

// Date Picker
  $(document).ready(function() {
    $('#starts_on').datepicker({
      todayHighlight: true,
      orientation: "bottom-left",
      autoclose: true,
      format: 'yyyy-mm-dd',
    });
    $('#returns_on').datepicker({
      todayHighlight: true,
      orientation: "bottom-left",
      autoclose: true,
      format: 'yyyy-mm-dd',
    }).on("show", function(e) {
      var thereDate = $("#starts_on").datepicker("getDate");
      var backDate = $("#returns_on").datepicker("getDate");

      if (backDate == null) {
        $('#returns_on').datepicker('update', thereDate);
      }
    });
    $(".box").click(function() {
      var region = $(this).text().replace(/\s/g,'');
      $("#region").val(region);
      // $("body").animate({ scrollTop: 0}, "slow");
    });

  });
</script>

<% end %>



