<div class = "container">

  <div class = "row">
    <div class="home-banner-title">
      <div class = "col-md-12 title-col">
        <span> <%= link_to root_path do %>
          <%= image_tag "blue_logo_no_word.png", class: "logo"%>
        <% end %> </span>
        <span class ="brand-name">Planisfer</span>
        <span class = "banner2-title">Explore the world your own way</span>
        <% if member_signed_in? %>
          <div>
            <% if current_member.facebook_picture_url %>
              <% avatar_url = current_member.facebook_picture_url %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% else %>
              <i class="fa fa-user-circle-o user-icon avatar dropdown-toggle" aria-hidden="true" id = "navbar-wagon-menu" data-toggle = "dropdown"></i>
            <% end %>

            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to profile_path, class: 'avatar-text' do %>
                  <span> <%= image_tag "traveler.svg", class: 'traveler-icon' %></span>  <%= current_member.profile_status == 0 ? "Build my traveler profile" : "My traveler profile" %>
                <% end %>
              </li>
              <li>
                <%= link_to recommendations_path, class: 'avatar-text' do %>
                  <span > <%= image_tag "heart-only.png", class: 'favourite-heart' %></span>  Personalized recommendations
                <% end %>
              </li>
              <li>
                <%= link_to destroy_member_session_path, method: :delete, class: 'avatar-text' do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
            <%= link_to profile_path, class: 'avatar-text text-desktop' do %>
              <span> <%= image_tag "traveler.svg", class: 'traveler-icon' %></span>  <%= current_member.profile_status == 0 ? "Build my traveler profile" : "My traveler profile" %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "row">

    <div class = "col-md-4 col-md-push-8">

      <div class = "home-text text-mobile <%= 'title-with-destination' if @destination_name %>">
        <h2 class="home-main-title <%= 'home-main-title-destination' if @destination_name %>"><strong><%= @main_title %></strong></h2>
      </div>

      <%=form_tag searches_path, :controller => 'searches', method: :post, id: "new_result" do %>
        <div class="sticky-form home-sticky-form">
          <div class="form-post">
            <h1>Start building your trip</h1>
            <% if flash[:search_error] %>
              <p class="red-message"><%= flash[:search_error] %></p>
            <% end %>


              <div class="row">
                <div class="col-xs-12">
                <%= select_tag :city, options_from_collection_for_select(Airport.where(category: "city"),:iata, :content), class: "js-airports-list input-lg form-control", :prompt => "From" %>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <%= select_tag  :region, options_from_collection_for_select(Region.all.order('name ASC'), :name, :name, @destination_name), id: 'regions', class: "input-lg form-control", prompt: "To" %>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <%= text_field_tag :starts_on, nil, placeholder: "Departure", "class" => 'input-lg form-control datepicker text-center'%>
                </div>
                <div class="col-xs-6">
                  <%= text_field_tag :returns_on, nil, placeholder: "Return", "class" => ' input-lg form-control datepicker text-center' %>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 padding-travelers-box">
                  <div class = "row">
                    <h3 class = "text-center no-children">Number of travelers</h3>
                    <h3 class = "text-center hidden with-children">Adults</h3>
                  </div>

                  <div class = "row">
                    <div class="group" data-toggle="buttons">
                      <div class="travelers-btn-container">
                        <% Constants::TRAVELERS.each do |number, text| %>
                          <div class = "col-xs-2 radio-button-padding">
                            <label class="btn btn-circle radio-b">
                              <input type="radio" class = 'radio-butt' name="nb_adults" id="option<%= number %>" value="<%= number %>" autocomplete="off"> <%= text %>
                            </label>
                          </div>
                        <% end %>
                      </div> <!-- fin travelers-btn-container -->
                    </div> <!-- fin de group -->
                  </div>

                  <div class = "raw with-children hidden" id = "children-form">

                    <div class = "col-md-6 children-padding">

                      <div class = "row">
                        <h3 class = "text-center">Children <span style= "font-weight: lighter"> (2-11) </span> </h3>
                      </div>

                      <div class = "row">
                        <div class="group" data-toggle="buttons">
                          <div class="travelers-btn-container">
                            <% Constants::TRAVELERS.each do |number, text| %>
                              <div class = "col-xs-4 radio-button-padding">
                                <label class="btn btn-circle-small radio-b">
                                  <input type="radio" name="nb_children" id="option<%= number %>" value="<%= number %>" autocomplete="off"> <%= text %>
                                </label>
                              </div>
                            <% end %>
                          </div> <!-- fin travelers-btn-container -->
                        </div> <!-- fin de group -->
                      </div>

                    </div>

                    <div class = "col-md-6 infant-padding">

                      <div class = "row">
                        <h3 class = "text-center">Infants <span style= "font-weight: lighter"> (<%= "<2" %>) </span> </h3>
                      </div>

                      <div class = "row">
                        <div class="group" data-toggle="buttons">
                          <div class="travelers-btn-container">
                            <% Constants::TRAVELERS.each do |number, text| %>
                              <div class = "col-xs-4 radio-button-padding">
                                <label class="btn btn-circle-small radio-b">
                                  <input type="radio" name="nb_infants" id="option<%= number %>" value="<%= number %>" autocomplete="off"> <%= text %>
                                </label>
                              </div>
                            <% end %>
                          </div> <!-- fin travelers-btn-container -->
                        </div> <!-- fin de group -->
                      </div>

                    </div>

                  </div>

                  <div class = "row">
                    <%= link_to "javascript:showhide('children-form')" do%>
                      <h4 id = "children-link">Children under 12?</h4>
                    <% end %>
                  </div>

                </div>

              </div>

              <div class = "row">
                <div class="col-xs-12">
                  <%= submit_tag "SEARCH", href: "", class: "btn-brand btn-big", id: "search-button", 'data-toggle' => "modal", 'data-target' => '#wait_modal' %>
                </div> <!-- fin du col -->

              </div>

          </div> <!-- fin du form-post -->
        </div> <!-- fin de sticky-form -->
      <%end%>

      <% if !@destination_name.nil? %>
        <div class = "row text-mobile">
          <%= render 'region_description', :destination => @destination %>
        </div>
      <% end %>

    </div>

    <div class = "col-md-8 col-md-pull-4">
      <div class = "home-text text-desktop <%= 'title-with-destination' if @destination_name %>">
        <h2 class="home-main-title <%= 'home-main-title-destination' if @destination_name %>"><strong><%= @main_title  %></strong></h2>
      </div>

      <% if !@destination_name.nil? %>
        <div class = "row text-desktop">
          <%= render 'region_description', :destination => @destination %>
        </div>
      <% end %>

      <div class = "row text-desktop <%= 'hidden' if @destination_name %>">

        <div class = "col-xs-10 col-xs-offset-1">
          <div class = "how-icons" id="how">
            <%= render 'shared/how_it_works' %>
          </div>
        </div>
      </div>

      <% if !@destination_name.nil? %>
        <div class = 'row'>
          <div class = 'col-xs-12 text-center'>
            <h2 class = 'margin-bottom-fifty'>Other destinations recommended by Planisfer community members</h2>
          </div>

        </div>
      <% end %>

      <div class = "row">
        <div class="col-md-12">
          <%= render 'shared/destinations' %>
        </div> <!-- fin du 2e col-xs-12 principal -->
      </div>

      <div class = "row text-mobile <%= 'hidden' if @destination_name %>">

        <div class = "col-xs-10 col-xs-offset-1">
          <div class = "how-icons" id="how">
            <h4 class = "row text-center">
              How it works
            </h4>
            <%= render 'shared/how_it_works' %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<%= render 'wait_modal', modal_name: "wait_modal" %>

  <!-- CALLS OF MODALS -->

  <% for num in (0..Region.count - 1) %>
    <%= render 'shared/slider', this_region: Region.all[num], modal_name: "modal_#{num +1}" %>
  <% end %>


  <!-- END OF MODALS  -->

  <%= render 'shared/who_are_we' %>
</div> <!-- fin du row principal -->

<%= render 'shared/who_modal' %>




<!-- Button trigger modal -->



<%= content_for :after_js do %>

<script>
  $(document).ready(function() {
    if($(window).width() <= 1024){
      $('.lg').removeClass('lg');
      $('sticky-form').removeClass('sticky-form');
    }
  })
</script>

<script>

  $(document).ready(function() {
    $("select.js-airports-list").select2({
      placeholder: 'From',
      allowClear: false,
      minimumInputLength: 3
    });
  });

// Date Picker
  $(document).ready(function() {
    $('#starts_on').datepicker({
      todayHighlight: true,
      orientation: "bottom-left",
      autoclose: true,
      format: 'yyyy-mm-dd',
    });
    $('#returns_on').datepicker({
      todayHighlight: true,
      orientation: "bottom-left",
      autoclose: true,
      format: 'yyyy-mm-dd',
    }).on("show", function(e) {
      var thereDate = $("#starts_on").datepicker("getDate");
      var backDate = $("#returns_on").datepicker("getDate");

      if (backDate == null) {
        $('#returns_on').datepicker('update', thereDate);
      }
    });
    $(".box").click(function() {
      var region = $(this).text().replace(/\s/g,'');
      $("#region").val(region);
      // $("body").animate({ scrollTop: 0}, "slow");
    });

  });
</script>

<script>

  function showhide(id) {
    var e = document.getElementById(id);
    $("#children-link").addClass('hidden');
    $(".with-children").removeClass('hidden');
    $(".no-children").addClass('hidden');
    $('#' + e.id).slideDown('slow');
    $('#' + e.id).removeClass('hidden');
  };

</script>


<script>
// bind to retrieve old status
$(".radio-b").mousedown(function() {
      var radio = $(this).find('input[type="radio"]')[0]
      var label = $(this)
    // if it was checked before
    if(radio.checked) {
        // bind event to reset state after click is completed
        $(this).mouseup(function() {

            // bind param, because "this" will point somewhere else in setTimeout
            // apparently if you do it immediatelly, it will be overriden, hence wait a tiny bit
            setTimeout(function() {
              console.log(this)
                radio.checked = false;
                label.removeClass("active")
            }, 5);
            // don't handle mouseup anymore unless bound again
            $(this).unbind('mouseup');
        });
    }
});
</script>




<script>
  $(document).ready(function() {
    $('#search-button').on('click', function(event) {

      setTimeout(function() {
        $('#airline1').removeClass('hidden');
      }, 500)
      setTimeout(function() {
        $('#airline2').removeClass('hidden');
        $('#airline5').removeClass('hidden');
      }, 1000)
      setTimeout(function() {
        $('#airline7').removeClass('hidden');
      }, 1300)
      setTimeout(function() {
        $('#airline12').removeClass('hidden');
        $('#airline10').removeClass('hidden');
      }, 2100)
       setTimeout(function() {
        $('#airline6').removeClass('hidden');
      }, 2400)
       setTimeout(function() {
        $('#airline11').removeClass('hidden');
        $('#airline3').removeClass('hidden');
        $('#airline8').removeClass('hidden');
      }, 3000)
       setTimeout(function() {
        $('#airline4').removeClass('hidden');
      }, 3300)
       setTimeout(function() {
        $('#airline9').removeClass('hidden');
      }, 4000)


      setTimeout(function() {
        $('#wait1').addClass('hidden');
        $('#text2').removeClass('light');
        $('#text1').addClass('light');
        $('#checked1').removeClass('hidden');
      }, 1000)

      setTimeout(function() {
        $('#wait2').addClass('hidden');
        $('#text2').addClass('light');
        $('#text3').removeClass('light');
        $('#text3bis').removeClass('light');
        $('#checked2').removeClass('hidden');
      }, 3000)

      setTimeout(function() {
        $('#wait3').addClass('hidden');
        $('#text4').removeClass('light');
        $('#text2').addClass('light');
        $('#text3bis').addClass('light');
        $('#checked3').removeClass('hidden');
      }, 5000)
    })
  })
</script>

<script>
  $(document).ready(function() {
    $("Andalucia").wrap('<span/>');
  })
</script>



<% end %>



