<h1 class="font"> Pages#home</h1>

<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to "test", "", class:"btn btn-primary" %>
<%= link_to "test", "", class:"btn btn-danger" %>
<%= link_to "test", "", class:"btn btn-warning" %>
<%= link_to "test", "", class:"btn btn-info" %>
<%= link_to "test", "", class:"btn btn-success" %>
<%= link_to "test", "", class:"btn gray-base" %>
