
<div class = "container">

  <div class = "row">
    <div class="home-banner-title">
      <div class = "col-md-12 title-col">
        <span> <%= link_to root_path do %>
          <%= image_tag "blue_logo_no_word.png", class: "logo"%>
        <% end %> </span>
        <span class ="brand-name">Planisfer</span>
        <span class = "banner2-title">Explore the world your own way</span>
        <% if member_signed_in? %>
          <% avatar_url = current_member.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <%= link_to destroy_member_session_path, method: :delete, class: 'log-out' do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "row">

    <div class = "col-md-8">
      <div class = "home-text">
        <h2 class="home-main-title"><strong>Prepare and book fully customized trips</strong></h2>
      </div>
      <div class = "row">

        <div class = "col-xs-10 col-xs-offset-1">
          <div class = "how-icons" id="how">
            <div class = "row">
              <div class = "col-md-3 text-center">
                <p class="how-to-badge">1</p>
                <p><strong>Book your flights (return or multi-destination)</strong></p>
              </div>
              <!-- <div class = "col-md-5">
                <div class = "text-center">
                  <div class = "how-image-container" id = "image2">
                    <div class="badge">2</div>
                  </div>
                  <p><strong>Explore its landmarks & hidden gems</strong></p>
                </div>
              </div> -->
              <div class = "col-md-3 text-center">
                <p class="how-to-badge">2</p>
                <p><strong>Book your car</strong></p>
              </div>
              <div class = "col-md-3 text-center">
                <p class="how-to-badge">3</p>
                <p><strong>Personalize your trip with the tips of other travelers</strong></p>
              </div>
              <div class = "col-md-3 text-center">
                <p class="how-to-badge">4</p>
                <p><strong>Planisfer travel coaches are here to help</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class = "row">
        <div class="col-md-12">
          <%= render 'shared/destinations' %>
        </div> <!-- fin du 2e col-xs-12 principal -->
      </div>

    </div>

    <div class = "col-md-4">

      <div class="sticky-form">
        <div class="form-post">
          <h1>Start building your trip</h1>
          <% if flash[:search_error] %>
            <p class="red-message"><%= flash[:search_error] %></p>
          <% end %>
          <%=form_tag searches_path, :controller => 'searches', method: :post, id: "new_result" do %>

            <div class="row">
              <div class="col-xs-12">
              <%= select_tag :city, options_from_collection_for_select(Airport.where(category: "city"),:iata, :content), class: "js-airports-list input-lg form-control", :prompt => "From" %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <%= select_tag  :region, options_from_collection_for_select(Region.all.order('name ASC'), :name, :name), id: 'regions', class: "input-lg form-control", prompt: "To" %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <%= text_field_tag :starts_on, nil, placeholder: "Departure", "class" => 'input-lg form-control datepicker text-center'%>
              </div>
              <div class="col-xs-6">
                <%= text_field_tag :returns_on, nil, placeholder: "Return", "class" => ' input-lg form-control datepicker text-center' %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 padding-travelers-box">
                <div class = "row">
                  <h3 class = "text-center no-children">Number of travelers</h3>
                  <h3 class = "text-center hidden with-children">Adults</h3>
                </div>

                <div class = "row">
                  <div class="group" data-toggle="buttons">
                    <div class="travelers-btn-container">
                      <% Constants::TRAVELERS.each do |number, text| %>
                        <div class = "col-xs-2 radio-button-padding">
                          <label class="btn btn-circle radio-b">
                            <input type="radio" class = 'radio-butt' name="nb_adults" id="option<%= number %>" value="<%= number %>" autocomplete="off"> <%= text %>
                          </label>
                        </div>
                      <% end %>
                    </div> <!-- fin travelers-btn-container -->
                  </div> <!-- fin de group -->
                </div>

                <div class = "raw with-children hidden" id = "children-form">

                  <div class = "col-md-6 children-padding">

                    <div class = "row">
                      <h3 class = "text-center">Children <span style= "font-weight: lighter"> (2-11) </span> </h3>
                    </div>

                    <div class = "row">
                      <div class="group" data-toggle="buttons">
                        <div class="travelers-btn-container">
                          <% Constants::TRAVELERS.each do |number, text| %>
                            <div class = "col-xs-4 radio-button-padding">
                              <label class="btn btn-circle-small radio-b">
                                <input type="radio" name="nb_children" id="option<%= number %>" value="<%= number %>" autocomplete="off"> <%= text %>
                              </label>
                            </div>
                          <% end %>
                        </div> <!-- fin travelers-btn-container -->
                      </div> <!-- fin de group -->
                    </div>

                  </div>

                  <div class = "col-md-6 infant-padding">

                    <div class = "row">
                      <h3 class = "text-center">Infants <span style= "font-weight: lighter"> (<%= "<2" %>) </span> </h3>
                    </div>

                    <div class = "row">
                      <div class="group" data-toggle="buttons">
                        <div class="travelers-btn-container">
                          <% Constants::TRAVELERS.each do |number, text| %>
                            <div class = "col-xs-4 radio-button-padding">
                              <label class="btn btn-circle-small radio-b">
                                <input type="radio" name="nb_infants" id="option<%= number %>" value="<%= number %>" autocomplete="off"> <%= text %>
                              </label>
                            </div>
                          <% end %>
                        </div> <!-- fin travelers-btn-container -->
                      </div> <!-- fin de group -->
                    </div>

                  </div>

                </div>

                <div class = "row">
                  <%= link_to "javascript:showhide('children-form')" do%>
                    <h4 id = "children-link">Children under 12?</h4>
                  <% end %>
                </div>

              </div>

            </div>

            <div class = "row">
              <div class="col-xs-12">
                <%= submit_tag "SEARCH", class: "btn-brand btn-big", id: "search-button", 'data-toggle' => "modal", 'data-target' => '#wait_modal' %>
              </div> <!-- fin du col -->
            </div>
          <%end%>
        </div> <!-- fin du form-post -->
      </div> <!-- fin de sticky-form -->
    </div>

  </div>
</div>


<%= render 'wait_modal', modal_name: "wait_modal" %>

  <!-- CALLS OF MODALS -->

  <% for num in (0..Region.count - 1) %>
    <%= render 'slider', this_region: Region.all[num], modal_name: "modal_#{num +1}" %>
  <% end %>


  <!-- END OF MODALS  -->

  <div class="col-xs-12">
<!--     <div class="banner-content text-center">
      <h1 class="banner2-title" id="why"><strong>Why use Planisfer </strong></h1>
    </div> -->
    <div class="col-xs-12">
      <hr>
    </div>
    <div class="">
      <div id="description-usp">
      </div>
     <!--    <div class="container">
          <div class="row">
            <div class=" col-xs-12 col-md-4  text-center">
             <%= image_tag "europe.png", class: "glasses-img" %>
             <p id="usp-title"> <strong>Get inspiration</strong></p>
             <p>to travel through Europe</p>
            </div>
            <div class=" col-xs-12 col-md-4  text-center">
              <%= image_tag "flight.png", class: "glasses-img" %>
              <p id="usp-title"><strong>Find the best flights</strong> </p>
              <p>combo for your roadtrip</p>
            </div>
            <div class=" col-xs-12 col-md-4  text-center">
             <%= image_tag "money.png", class: "glasses-img" %>
             <p id="usp-title"><strong>Save money & time</strong> </p>
             <p>with our flights comparator</p>
           </div>
          </div>
        </div> -->

        <div class="footer text-center">
          <div class="container">
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <div class="text-footer">
                  <ul class="list-unstyled list-inline">
                    <li>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Who are we ?
                      </button>
                    </li>
                    <!-- <li> Mentions légales </li> -->
                  </ul>
                  <br>
                  Made with <i class="fa fa-heart"></i> @LeWagon
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div> <!-- fin du 3e col-xs-12 -->
</div> <!-- fin du row principal -->


<!-- The Team Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"> Who are we ? </h4>
      </div>
      <div class="modal-body">
        <p class="text-center">
          Planisfer was realised during the Wagon Coding Bootcamp. <br> <br>
          We developed the product from the idea to the technical conception. <br>
          We are still working on the website to improve the offer. <br>
          Come over regularly :)
        </p>
      </div>
    </div>
  </div>
</div>




<!-- Button trigger modal -->



<%= content_for :after_js do %>
<script>

  $(document).ready(function() {
    $("select.js-airports-list").select2({
      placeholder: 'From',
      allowClear: false,
      minimumInputLength: 3
    });
  });

// Date Picker
  $(document).ready(function() {
    $('#starts_on').datepicker({
      todayHighlight: true,
      orientation: "bottom-left",
      autoclose: true,
      format: 'yyyy-mm-dd',
    });
    $('#returns_on').datepicker({
      todayHighlight: true,
      orientation: "bottom-left",
      autoclose: true,
      format: 'yyyy-mm-dd',
    }).on("show", function(e) {
      var thereDate = $("#starts_on").datepicker("getDate");
      var backDate = $("#returns_on").datepicker("getDate");

      if (backDate == null) {
        $('#returns_on').datepicker('update', thereDate);
      }
    });
    $(".box").click(function() {
      var region = $(this).text().replace(/\s/g,'');
      $("#region").val(region);
      // $("body").animate({ scrollTop: 0}, "slow");
    });

  });
</script>

<script>

  function showhide(id) {
    var e = document.getElementById(id);
    $("#children-link").addClass('hidden')
    $(".with-children").removeClass('hidden')
    $(".no-children").addClass('hidden')
    $('#' + e.id).slideDown('slow');
    $('#' + e.id).removeClass('hidden')
  };

</script>


<script>
// bind to retrieve old status
$(".radio-b").mousedown(function() {
      var radio = $(this).find('input[type="radio"]')[0]
      var label = $(this)
    // if it was checked before
    if(radio.checked) {
        // bind event to reset state after click is completed
        $(this).mouseup(function() {

            // bind param, because "this" will point somewhere else in setTimeout
            // apparently if you do it immediatelly, it will be overriden, hence wait a tiny bit
            setTimeout(function() {
              console.log(this)
                radio.checked = false;
                label.removeClass("active")
            }, 5);
            // don't handle mouseup anymore unless bound again
            $(this).unbind('mouseup');
        });
    }
});
</script>




<script>
  $(document).ready(function() {
    $('#search-button').on('click', function(event) {

      setTimeout(function() {
        $('#airline1').removeClass('hidden');
      }, 500)
      setTimeout(function() {
        $('#airline2').removeClass('hidden');
        $('#airline5').removeClass('hidden');
      }, 1000)
      setTimeout(function() {
        $('#airline7').removeClass('hidden');
      }, 1300)
      setTimeout(function() {
        $('#airline12').removeClass('hidden');
        $('#airline10').removeClass('hidden');
      }, 2100)
       setTimeout(function() {
        $('#airline6').removeClass('hidden');
      }, 2400)
       setTimeout(function() {
        $('#airline11').removeClass('hidden');
        $('#airline3').removeClass('hidden');
        $('#airline8').removeClass('hidden');
      }, 3000)
       setTimeout(function() {
        $('#airline4').removeClass('hidden');
      }, 3300)
       setTimeout(function() {
        $('#airline9').removeClass('hidden');
      }, 4000)


      setTimeout(function() {
        $('#wait1').addClass('hidden');
        $('#text2').removeClass('light');
        $('#text1').addClass('light');
        $('#checked1').removeClass('hidden');
      }, 1000)

      setTimeout(function() {
        $('#wait2').addClass('hidden');
        $('#text2').addClass('light');
        $('#text3').removeClass('light');
        $('#text3bis').removeClass('light');
        $('#checked2').removeClass('hidden');
      }, 3000)

      setTimeout(function() {
        $('#wait3').addClass('hidden');
        $('#text4').removeClass('light');
        $('#text2').addClass('light');
        $('#text3bis').addClass('light');
        $('#checked3').removeClass('hidden');
      }, 5000)

    })
  })
</script>

<script>
  $(document).ready(function() {
    $("Andalucia").wrap('<span/>');
  })
</script>


<% end %>



