<div class = 'col-xs-12'>
  <span class="block profile-page-block destination <%= "active" if experience == @experience %> <%= "dezoom" unless experience == @experience %>">
    <span class="<%= "destination-opacity" unless experience == @experience %>">
      <%= image_tag "countryphoto/#{experience.region.name.downcase.delete(' ')}.jpg", class:"dest-image"%>
      <span class="box">
        <span class="text in-box">
          <span class="primarytext"><%= experience.region.name %></span>
        </span>
      </span>
    </span>
    <span class = "complete_feedback_text <%= 'display' if @reviewed_experiences.include?(experience) %>">
      Feedback completed
    </span>
    <span class ="photo-check text-center <%= 'hidden' unless @reviewed_experiences.include?(experience)%> %>">
      <i class="fa fa-check" aria-hidden="true"></i>
    </span>
  </span>
</div>
