<div class="page-banner text-center">
  <div class="page-banner-title">
    <div class = "col-md-12 title-col">
      <span> <%= link_to root_path do %>
        <%= image_tag "blue_logo_no_word.png", class: "logo"%>
      <% end %> </span>
      <span class ="brand-name">Planisfer</span>
      <div class = "banner2-title-flexbox">
        <span class = "banner2-title">Build your traveler's profile... </span> </span> <span class = "banner2-title" id = "profile-banner2-title">and get personalized travel suggestions </span>
      </div>
    </div>
  </div>
  <span class = "booking-status text-desktop">
    <%= render 'shared/booking_status', :status => 0 %>
  </span>
</div>


<div class="container-fluid page-result">

  <div class="col-xs-12 col-md-9 right-border">

    <div class = 'row'>
      <div class = 'col-xs-12 text-center'>
        <h2 id = "profile-page-build">
          Build your traveler's profile
        </h2>
      </div>
    </div>

    <div class = "feedback-page-container">
      <div class = 'row'>

        <div class = 'col-xs-12 col-md-3'>
          <div class = 'row'>
            <% @experiences.each_with_index do |experience, index| %>
                <div class = 'col-xs-12'>
                  <a class="block profile-page-block destination <%= "active" if index == 0 %> <%= "dezoom" unless index == 0 %>">
                    <%= image_tag "countryphoto/#{experience.region.name.downcase.delete(' ')}.jpg", class:"dest-image"%>
                    <span class="box">
                      <span class="text in-box">
                        <span class="primarytext"><%= experience.region.name %></span>
                      </span>
                    </span>
                  </a>
                </div>
            <% end %>
          </div>
        </div>

        <div class = 'col-xs-12 col-md-9'>

          <%= form_tag experience_path(@experience), method: :patch do %>
            <div class = 'category-container'>
              <div class = 'row'>
                <div class = 'col-xs-12'>
                  <div class = 'selection-title'>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <h4>How would you describe your trip to <%= @experience.region.name %>?</h4>
                  </div>
                </div>
              </div>

              <div class = 'row'>
                <div class="blocks center-block">
                  <% @categories.each do |category| %>
                    <div class = 'col-xs-6 col-md-3'>
                      <input class = "hidden" name="categories[]" type="checkbox" id= "<%= category %>" value="<%= category%>" />
                      <label for="<%= category %>">
                        <div class = "btn-tag trip-category" data-category = "<%= category %>" data-airport-id = "<%= category %>"> <%= category %>
                        </div>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <div class = 'row'>
              <div class = 'col-xs-12 col-md-6'>
                <div class = 'selection-title'>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <h4>How long did you stay (days)?</h4>
                </div>
              </div>

              <div class = 'col-xs-12 col-md-6' id = "length-slider-padding">
                <div class = 'experience-slider text-center'>
                  <span></span>
                  <span>
                    <%= text_field_tag :length, nil, class: "bootstrap_slider", data: { provide: :slider, "slider-value" => "1", "slider-min" => 1, "slider-max" => 30} %>
                  </span>
                  <span></span>
                </div>
              </div>
            </div>

            <div class = 'row'>
              <div class = 'col-xs-12 col-md-6'>
                <div class = 'selection-title'>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <h4>Would you say your trip was...</h4>
                </div>
              </div>

              <div class = 'col-xs-12 col-md-6' id = "price-slider-padding">
                <div class = 'experience-slider text-center'>
                  <span>Soooo cheap!</span>
                  <span> <%= text_field_tag :cost, nil, class: "bootstrap_slider", data: { provide: :slider, "slider-value" => "1", "slider-min" => 1, "slider-max" => 10, "slider-tooltip" => 'hide'} %></span>
                  <span>Super expensive!</span>
                </div>
              </div>
            </div>

            <div class = 'row'>
              <div class = 'col-xs-12 text-center'>
                <%= submit_tag "VALIDATE", class: "btn-brand btn-half-size", id: 'update-experience-button'%>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-md-3">
    <%= render 'shared/recommendations' %>
  </div>

</div>


<%= content_for :after_js do %>

  <script>

    $(document).ready(function() {
      $('.trip-category').mouseenter(function() {
        $(this).addClass('entered');
      })

      $('.trip-category').mouseleave(function() {
        $(this).removeClass('entered');
      })

      $('.trip-category').click(function() {
        if ($(this).hasClass('category-selected')) {
          $(this).removeClass('category-selected');
          $(this).removeClass('entered');
        } else {
          $(this).addClass('category-selected');
        }
      })
    })

  </script>

<% end %>


