<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1369013269801296";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class = "container">

  <div class = "row">
    <%= render 'shared/home_banner_title' %>
  </div>

  <div class = "row">


    <div class = "col-md-8 text-desktop">
      <%= render 'shared/sign_up_page_left_part' %>
    </div>

    <div class = "col-md-4">

      <div class = "home-text text-mobile">
        <h2 class="home-main-title"><strong>Log in and start exploring the world</strong></h2>
      </div>

      <div class="sticky-form" id = "member-form">
        <div class="tabs">
          <a class="tab <%= 'active' unless params[:referrer] %>" href="#" id="log-in-tab">
            <h4>Log in</h4>
          </a>
          <%= link_to new_member_registration_path, class: 'tab' do %>
            <h4>Become a member</h4>
          <% end %>
        </div>

          <%= render 'shared/flashes' %>

        <div class="form-post member-form-post light-opacity text-center <%= 'hidden' if params[:referrer] %>" id = 'sign-in-form'>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= link_to member_facebook_omniauth_authorize_path, class: "btn fb-login-but" do%>
              <span class = "fb-logo"> <%= image_tag 'fb_logo.jpg' %></span> <span>Continue with Facebook</span>
            <% end %>

           <!--  <div class="fb-login-button" data-width="324" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="false"></div> -->

            <div class = separator_with_text> or</div>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true, label: false, placeholder: 'Email', :input_html => { :class => 'form-control member-input' } %>
              <%= f.input :password, required: false, label: false, placeholder: 'Password', :input_html => { :class => 'form-control member-input' } %>
            </div>

            <div class="form-actions">
              <%= f.submit "Log in", class: 'btn-brand member-btn' %>
            </div>
          <% end %>
        </div> <!-- fin du form-post -->

      </div>

    </div>

    <div class = "col-md-8 text-mobile">
      <%= render 'shared/sign_up_page_left_part' %>
    </div>

  </div>
</div>

  <!-- CALLS OF MODALS -->

  <% for num in (0..Region.count - 1) %>
    <%= render 'shared/slider', this_region: Region.all[num], modal_name: "modal_#{num +1}" %>
  <% end %>


  <!-- END OF MODALS  -->

  <%= render 'shared/who_are_we' %>
</div> <!-- fin du row principal -->

<%= render 'shared/who_modal' %>


<% content_for(:after_js) do %>

  <script>
    $(document).ready(function() {
      $('.facebook-link').click(function(e) {
          e.preventDefault();
          window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
          return false;
      });
    });
  </script>


  <script>
    $(document).ready(function() {
      if($(window).width() <= 1024){
        $('.lg').removeClass('lg');
        $('sticky-form').removeClass('sticky-form');
      }
    })
  </script>

<% end %>

