<% #Début de la row de formulaire %>
<div class = "row">
  <div class = col-xs-12>
    <div class = "car-form <%= 'not-displayed' if @status == 'none' %>" id = "modify">
      <% #Début du formulaire d'update %>
      <%=form_tag selections_path(:trip_id => @trip.id), method: :post do %>

        <div class= "row">
          <div class = "col-xs-12">
            <h5> Your car rental details </h5>
          </div>
        </div>
        <%# Beginning 1st row form %>
        <div class = "row">
          <div class = "car-form-row">
            <div class = "col-md-1">
              <%= image_tag "car.png", width: "30px", height: "auto", class: "car form-icon" %>
            </div>
            <div class = "col-md-6">
              <%= select_tag :pick_up_location, options_for_select(@region_airports, @main_car_airports_titles[0]), class: "form-control car-form-item", prompt: "Airports where you can pick-up a car" %>
            </div>
            <div class = "col-md-5">
              <%= text_field_tag :pick_up_date_time, Time.zone.parse(@pick_up_date_time).strftime("%Y %b %e - %I %P"), "class" => 'form-control car-datepicker car-form-item', "id" => 'datetimepicker'%>
            </div>
          </div>
        </div>
        <%# End 1st row form %>
        <%# Beginning 2nd row form %>
        <div class = "row">
          <div class = "car-form-row">
            <div class = "col-md-1">
              <%= image_tag "flipped-car.png", width: "30px", height: "auto", class: "car" %>
            </div>
            <div class = "col-md-6">
              <%= select_tag :drop_off_location, options_for_select(@region_airports, @main_car_airports_titles[1], class: "form-control car-form-item", prompt: "Airports where you can drop-off a car" %>
            </div>
            <div class = "col-md-5">
              <%= text_field_tag :drop_off_date_time, Time.zone.parse(@drop_off_date_time).strftime("%Y %b %e - %I %P"), "class" => 'form-control car-datepicker car-form-item', "id" => 'datetimepicker2'%>
            </div>
          </div>
        </div>
        <%# End 2nd row form %>
        <%# Beginning 3rd row form %>
        <div class = "row">
          <div class = "col-xs-9">

          </div>
          <div class = "col-xs-3">
            <%= submit_tag "SEARCH", class: "btn-brand new-search-btn" %>
          </div>
        </div>
        <%# End 3rd row form %>
      <% end %>
      <% #Fin du formulaire d'update %>
    </div>
  </div>
</div>
<% #Fin de la row de formulaire %>







