<% #Début de la row de cards%>
<div class="row">

  <% if @car_selection[:mini] != [] %>
    <div class="col-xs-6">
      <div class="car-card center-block">
        <div class = "car-card-title">
          <span>Mini</span>
          <span class = "car-title-price">
            <span style= "font-size: 10px"> From </span> <span><%= money_without_cents_and_with_symbol(@car_selection[:mini][0].price) %></span>
          </span>
        </div>
        <div style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("mini.jpg") %>)'; class = "card-background">
        </div>
        <%= link_to('' , '#car-partial-link', :class => "popover-link", :rel => "popover", :"data-trigger" => "manual", :"data-content" =>  @popover_partials["mini"] ) %>
      </div>
    </div>
  <% end %>

  <% if @car_selection[:economy] != [] %>
    <div class="col-xs-6">
      <div class="car-card center-block">
        <div class = "car-card-title">
          <span>Economy</span>
          <span class = "car-title-price">
            <span style= "font-size: 10px"> From </span> <span><%= money_without_cents_and_with_symbol(@car_selection[:economy][0].price) %></span>
          </span>
        </div>
        <div style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("economy.jpg") %>)'; class = "card-background">
        </div>
        <%= link_to('' , '#car-partial-link', :class => "popover-link", :rel => "popover", :"data-trigger" => "manual", :"data-content" =>  @popover_partials["economy"] ) %>
      </div>
    </div>
  <% end %>

  <% if @car_selection[:compact] != [] %>
    <div class="col-xs-6">
      <div class="car-card center-block">
        <div class = "car-card-title">
          <span>Compact</span>
          <span class = "car-title-price">
            <span style= "font-size: 10px"> From </span> <span><%= money_without_cents_and_with_symbol(@car_selection[:compact][0].price) %></span>
          </span>
        </div>
        <div style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("compact.jpg") %>)'; class = "card-background">
        </div>
        <%= link_to('' , '#car-partial-link', :class => "popover-link", :rel => "popover", :"data-trigger" => "manual", :"data-content" =>  @popover_partials["compact"] ) %>
      </div>
    </div>
  <% end %>

  <% if @car_selection[:intermediate] != [] %>
    <div class="col-xs-6">
      <div class="car-card center-block">
        <div class = "car-card-title">
          <span>Intermediate</span>
          <span class = "car-title-price">
            <span style= "font-size: 10px"> From </span> <span><%= money_without_cents_and_with_symbol(@car_selection[:intermediate][0].price) %></span>
          </span>
        </div>
        <div style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("intermediate.jpg") %>)'; class = "card-background">
        </div>
        <%= link_to('' , '#car-partial-link', :class => "popover-link", :rel => "popover", :"data-trigger" => "manual", :"data-content" =>  @popover_partials["intermediate"] ) %>
      </div>
    </div>
  <% end %>

  <% if @car_selection[:fullsize] != [] %>
    <div class="col-xs-6">
      <div class="car-card center-block">
        <div class = "car-card-title">
          <span>Fullsize</span>
          <span class = "car-title-price">
            <span style= "font-size: 10px"> From </span> <span><%= money_without_cents_and_with_symbol(@car_selection[:fullsize][0].price) %></span>
          </span>
        </div>
        <div style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("fullsize.jpg") %>)'; class = "card-background">
        </div>
        <%= link_to('' , '#car-partial-link', :class => "popover-link", :rel => "popover", :"data-trigger" => "manual", :"data-content" =>  @popover_partials["fullsize"] ) %>
      </div>
    </div>
  <% end %>

  <% if @car_selection[:premium] != [] %>
    <div class="col-xs-6">
      <div class="car-card center-block">
        <div class = "car-card-title">
          <span>Premium</span>
          <span class = "car-title-price">
            <span style= "font-size: 10px"> From </span> <span><%= money_without_cents_and_with_symbol(@car_selection[:premium][0].price) %></span>
          </span>
        </div>
        <div style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("premium.jpg") %>)'; class = "card-background">
        </div>
        <%= link_to('' , '#car-partial-link', :class => "popover-link", :rel => "popover", :"data-trigger" => "manual", :"data-content" =>  @popover_partials["premium"] ) %>
      </div>
    </div>
  <% end %>
</div>

<% content_for(:after_js) do %>


<% end  %>


