
<% # bandeau du haut %>

<div class="flight-ticket-title text-center">
    <div class="banner-content">
    <%= link_to root_path do %>
    <%= image_tag "logo.png", class:"logo-1"%>
    <% end %>
  </div>
  <h1 class="">Select a car</h1>
  <%= link_to "> Back to all flights", search_path(@search), class: "back" %>
</div>

<% # Fin du bandeau du haut %>
<% # début du wrapper %>
<div class = "card-wrapper">
  <% # début du container %>
  <div class="container">
    <div class="row">
      <% # Début case bootstrap formulaire et cards %>
      <div class="col-xs-12 col-sm-8">
        <%= render "car_form" %>
        <% #Début row titre cards %>
        <div id="TitleShow">
          <h3>THE BEST CARS PER CATEGORY </h3>
        </div>
        <% #Fin row titre cards %>

        <div id = "car-cards-partial">
          <%= render "car_cards" %>
        </div>

      </div>
      <% # Fin de la case bootstrap pour les formulaires et cards %>


      <% # Début case bootstrap Carnet de voyage %>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/recap" %>
      </div>
      <% #Fin case bootstrap Carnet de voyage  %>

    </div>
    <% # Find de la row %>

  </div>
  <% # Find du container %>
</div>
 <% # Find du wrapper %>



<% content_for(:after_js) do %>

  <script>
    $(document).ready(function() {
      $('.card').mouseover('click', function(e) {
        e.preventDefault();
        $('.card.selected').removeClass('selected');
        $(this).addClass('selected');
      })
    });


  </script>

  <script>
    $(document).ready(function() {
      $('#pick_up_date').datepicker({
        todayHighlight: true,
        orientation: "bottom-left",
        autoclose: true,
        format: 'MM dd',
      });
      $('#drop_off_date').datepicker({
        todayHighlight: true,
        orientation: "bottom-left",
        autoclose: true,
        format: 'MM dd',
      });
    });
  </script>

<% end %>
