<div class = 'row'>
  <div class="page-banner">
    <div class = "col-md-12 title-col">
      <span> <%= link_to root_path do %>
        <%= image_tag "blue_logo_no_word.png", class: "logo"%>
      <% end %> </span>
      <span class ="brand-name">Planisfer</span>
      <span class = "banner2-title text-desktop">Explore <%= @region.name %> your own way!</span>
        <span class = "banner2-title">Choose your car </span>

      <span class = "booking-status">
        <%= render 'shared/booking_status', :status => 3 %>
      </span>

    </div>
  </div>
</div>


<div class="container-fluid page-result">

  <div class="col-xs-12 <%= 'text-mobile' if !@trip.car_rental.nil?%> <%= 'hidden' if @trip.car_rental.nil? %>">
    <div class = "recap-zone <%= 'recap-opacity' if @recap_opacity == 1 %>">
      <%= render "shared/recap", :payment_page => false%>
    </div>
  </div>

  <div class="col-xs-12 col-md-8 car-left-padding">
    <div class = "car-zone <%= 'recap-opacity' if @recap_opacity == 0 %>">
      <button class = ' text-desktop btn-brand opacity small-btn' id = "no-car-button">I don't need a car</button>
      <div class = "row">
        <div class = "col-xs-12">
          <div id = "main-car-container" class = "center-block">
            <div class = "car-page-title text-center">
              <h3> <%= @main_car_title %> </h3>
            </div>

            <h5 id = "car-recap-text"> <%= @main_car_airports_titles[0] %> - <%= Time.parse(@pick_up_date_time).strftime('%b %d') %>  <span class="fa fa-long-arrow-right car-selection-arrow text-desktop" aria-hidden="true"></span> <br class = 'text-mobile'> <span class = 'text-mobile'> to </span> <br class = 'text-mobile'><%= @main_car_airports_titles[1] %> - <%= Time.parse(@drop_off_date_time).strftime('%b %d') %>
            </h5>


            <%= link_to trip_path(@trip, @options.merge({:car_rental_id =>@main_car})), method: :put, class: 'tabLink result-card' do %>

              <div class = "recommendation-box selected text-mobile">
                <div class = "row">
                  <div class = 'col-xs-12'>
                    <h4> <%= @main_car.car_name %> <span class = "similar">or similar</span></h4>
                  </div>
                </div>

                <div class = 'row'>
                  <div class = 'col-xs-6'>
                    <div class = "main-photo-container" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("#{ @main_car.category.downcase}.jpg") %>)'>
                    </div>
                  </div>
                  <div class = 'col-xs-6'>
                    <ul>
                      <li> Rented by <%= @main_car.company %>, a well established rental company in Europe</li>
                      <li> <%= @main_car.category %> category</li>
                      <li> € <%= (@main_car.price.to_f.fdiv(@nb_days)).ceil %> per day </li>
                    </ul>
                  </div>
                </div>

                <div class = 'row'>
                  <div class = 'col-xs-12'>
                    <div class = "text-center price-and-book">
                      <span class = "booking-price"><%= money_without_cents_and_with_symbol(@main_car.price)%></span>
                      <span class = 'btn-brand select_this_car <%= 'hidden' if @main_car_title == "YOUR SELECTION" %>'>
                        SELECT THIS CAR
                      </span>
                    </div>
                  </div>
                </div>
                </div>

              <div class = "row recommendation-box selected text-desktop">
                <div class = "col-md-6 no-relative-position">
                  <h4> <%= @main_car.car_name %> <span class = "similar">or similar</span></h4>
                  <ul>
                    <li> Rented by <%= @main_car.company %>, a well established rental company in Europe</li>
                    <li> <%= @main_car.category %> category</li>
                    <li> € <%= (@main_car.price.to_f.fdiv(@nb_days)).ceil %> per day </li>
                  </ul>
                  <div class = "text-center price-and-book">
                    <span class = "booking-price"><%= money_without_cents_and_with_symbol(@main_car.price)%></span>
                    <span class = 'btn-brand select_this_car <%= 'hidden' if @main_car_title == "YOUR SELECTION" %>'>
                      SELECT THIS CAR
                    </span>
                  </div>
                </div>
                <div class = "col-md-6 text-center no-padding">
                  <div class = "main-photo-container" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("#{ @main_car.category.downcase}.jpg") %>)'>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class = "row">
        <div class = "car-page-title text-center">
          <h3>OTHER CARS, RANKED BY CATEGORY </h3>
          <h5>NB: No surprises with our prices. They are all included (except if you need special equipments like baby seats) </h5>
        </div>
      </div>

      <div class = "row">
        <div id = "car-cards-partial">
          <%= render "car_cards" %>
        </div>
      </div>

      <div class = "row">
        <%= link_to "javascript:showhide('modify')", class: "modify-search-link" do%>
          <h5 class="<%= 'hidden' if @status == 'modify' %>" id="modify-search"> Change search criteria </h5>
        <% end  %>
      </div>

      <div class = "row">
        <%= render "car_form" %>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-md-4 <%= 'text-desktop' if !@trip.car_rental.nil?%>">
    <div class = "recap-zone <%= 'recap-opacity' if @recap_opacity == 1 %>">
      <%= render "shared/recap", :payment_page => false%>
    </div>
  </div>

</div>




<% content_for(:after_js) do %>

  <script>
    $(document).ready(function() {
      if($(window).width() <= 1024){
        $('.selected').removeClass('selected');
      }
    })
  </script>

  <script>
    $(document).ready(function() {
      $('#pick_up_date').datepicker({
        todayHighlight: true,
        orientation: "bottom-left",
        autoclose: true,
        format: 'MM dd',
      });
      $('#drop_off_date').datepicker({
        todayHighlight: true,
        orientation: "bottom-left",
        autoclose: true,
        format: 'MM dd',
      });
    });
  </script>

<script>
  $(function () {
    $('#datetimepicker').datetimepicker({
        format: 'MMM DD [-] hh a',
        sideBySide: true
    });
    $('#datetimepicker2').datetimepicker({
        format: 'MMM DD [-] hh a',
        sideBySide: true
    });
  });
  function showhide(id) {
    var e = document.getElementById(id);
    if ($('#' + e.id).hasClass('not-displayed')) {
      $('#' + e.id).slideDown('slow');
      $('#' + e.id).removeClass('not-displayed')
      // $("#see-filters").addClass("hidden");
      // $("#hide-filters").removeClass("hidden");
    } else {
      $('#' + e.id).slideUp('slow');
      $('#' + e.id).addClass('not-displayed')
      // $("#see-filters").removeClass("hidden");
      // $("#hide-filters").addClass("hidden");
    };
  };
</script>

<script>
  $(document).ready(function() {
    $('.popover-link').popover({ html : true, placement: "top"});
    $('.popover-link').mouseenter(function(){
      $('popover').popover('hide');
      var _this = this;
      $(this).popover('show');
      $('.car-result-card').mouseenter('click', function(e) {
        e.preventDefault();
        $('.popover-card-container').removeClass('selected');
        $(this).children('.popover-card-container').addClass('selected');
        console.log('test');
      });
      $('.car-result-card').on('click', function(e) {
        e.preventDefault();
        $('.popover-card-container').addClass('hidden');
        $(this).children('.popover-card-container').removeClass('hidden');
        $(this).children('.popover-card-container').addClass('highcontainer');
        $(this).children('.popover-card-container').children('.popover-card-link').removeClass('hidden');
      });
      $(".popover").on("mouseleave", function () {
        $(_this).popover('hide');
      });
    });
    $('.popover-link').mouseleave(function(){
      var _this = this;
      setTimeout(function () {
        if (!$(".popover:hover").length) {
            $(_this).popover("hide");
        }
      }, 50);
    });
  });

</script>

  <script>

    $(document).ready(function() {
      $('.recap-zone').mouseenter(function(e) {
        e.preventDefault();
        $(this).removeClass('recap-opacity');
        $('.car-zone').addClass('recap-opacity');
      })
      $('.recap-zone').mouseleave(function(e) {
        e.preventDefault();
        $('.car-zone').removeClass('recap-opacity');
        $(this).addClass('recap-opacity');
      })
      $('#no-car-button').click(function(e) {
        e.preventDefault();
        if ($(this).hasClass('clicked')) {
          $('.recap-zone').addClass('recap-opacity');
          $('.car-zone').removeClass('recap-opacity');
          $(this).removeClass('clicked');
        } else {
          $('.recap-zone').removeClass('recap-opacity');
          $('.car-zone').addClass('recap-opacity');
          $(this).addClass('clicked');
        }
      })
    });

  </script>

<% end %>
