<% # bandeau du haut %>
<div class="page-banner text-center">
  <div class="page-banner-title">
    <div class = "col-md-12 title-col">
      <span> <%= link_to root_path do %>
        <%= image_tag "blue_logo_no_word.png", class: "logo"%>
      <% end %> </span>
      <span class ="brand-name">Planisfer</span>
      <span class = "banner2-title">Let's finalize your trip to <%= @region.name %></span>
    </div>
  </div>
  <span class = "booking-status text-desktop">
    <% if @trip.car_rental.nil? %>
      <%= render 'shared/booking_status', :status => 1 %>
    <% else %>
       <%= render 'shared/booking_status', :status => 2 %>
    <% end %>
  </span>
</div>

<% # Fin du bandeau du haut %>

<div class="container-fluid page-result">

  <div class="col-xs-12 col-md-8 car-left-padding">
    <% # beginning of user form %>
    <%= form_tag order_path(@order, :trip_id => @trip.id, :quote_id => @quote_id), method: :patch do %>
      <div class = "travel-infos-box">
        <div class = "travel-infos-title">
          <div class = "row">
            <div class = "col-sm-6">
              <h4 class = "<%= 'light' if @status == 'OK' %>">1. Who is traveling</h4>
              <% if flash[:search_error] %>
                <p class="red-message"><%= flash[:search_error] %></p>
              <% end %>
            </div>

            <div class = col-sm-6>
              <%= link_to new_order_payment_path(:trip_id => @trip.id, :order => @order, options: @options, quote_id: @quote_id) do%>
                <p class = "edit <%= 'not-displayed' if @status == 'none' %>"> Edit </p>
              <% end %>
            </div>
          </div>
        </div>

        <div class = "<%= 'not-displayed' if @status == 'OK' %>">
          <% for num in (1..@nb_travelers) %>
            <div class = "row">
              <div class = "passenger-row">

                <div class = "col-xs-12 col-md-3" >
                  <p class = "infos-left-text">Passenger <%= num %></p>
                </div>

                <div class = "col-xs-3 col-md-2">
                  <%= select_tag "title_pax[#{num}]", options_for_select(["Mr", "Mrs"], @default_values["#{num}"][:title]), prompt: "Title", class: "form-control grey passenger-box-sizing" %>
                </div>
                <div class = "col-xs-4 col-md-3">
                  <%= text_field_tag "first_name_pax[#{num}]", @default_values["#{num}"][:first_name], placeholder: "First name", class: "form-control passenger-box-sizing"  %>
                </div>
                <div class = "col-xs-5 col-md-4">
                  <%= text_field_tag "name_pax[#{num}]", @default_values["#{num}"][:name], placeholder: "Name", class: "form-control passenger-box-sizing" %>
                </div>
              </div>
            </div>

            <div class = "row">
              <div class = "col-sm-12" >
                <hr id="hr-payment-form">
              </div>
            </div>

          <% end %>


          <div class = "row">
            <div class = "email-row">
              <div class = "col-sm-8" >
                <p class = "infos-left-text">Please send my travel documents to this e-mail address</p>
              </div>
              <div class = "col-sm-4" >
                <%= text_field_tag "email", current_member.email, placeholder: "Email", class: "form-control passenger-box-sizing" %>
              </div>
            </div>
          </div>
          <div class = "row">
            <%= hidden_field_tag 'trip_id', @trip.id %>
            <%= hidden_field_tag 'status', "OK" %>
            <%= hidden_field_tag 'pick_up_location', @pick_up_location %>
            <%= hidden_field_tag 'drop_off_location', @drop_off_location %>
            <%= hidden_field_tag 'pick_up_date_time', @pick_up_date_time %>
            <%= hidden_field_tag 'drop_off_date_time', @drop_off_date_time %>
            <%= submit_tag 'Next', class: 'btn-brand next-button', id: "next-action" %>
          </div>
        </div>
      </div>
    <% end %>
    <% # end of user form %>

    <% # beginning of payment form %>
    <div class = "travel-infos-box">
      <%=form_tag order_payments_path(@order, :trip_id => @trip.id, :quote_id => @quote_id) do %>
        <div class = "travel-infos-title">
          <h4 class = "<%= 'light' if @status == 'none' %>">2. Payment</h4>
        </div>
        <div class = "<%= 'not-displayed' if @status == 'none' %>">
          <div class = "row">
            <div class="col-sm-9">
              <p>Total: <%= humanized_money_with_symbol(@order.amount) %></p>
              <p>Everything seems alright? Great! Looks like you can book.</p>
            </div>
            <div class="col-sm-3">
              <div class = "payement-button">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-name="Securized payment"
                data-email="<%= @default_values[:email] %>"
                data-description="<%= @order.trip_sku %>"
                data-amount="<%= @order.amount_cents %>"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-currency="<%= @order.amount.currency %>">
                </script>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    <% # end of payment form %>

  </div>

  <div class="col-xs-12 col-md-4">
    <%= render "shared/recap", :payment_page => true %>
  </div>

</div>

