<div class="modal fade" id="car_wait_modal" tabindex="-1" role="dialog" aria-labelledby="car_wait_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title" id="myModalLabel">Looking for the best cars for your trip ...</h4>
      </div>
      <div class="modal-body background">

        <div class = "row">
          <div class = "col-md-12">
            <%= link_to orders_path(:trip_id => nil), method: :post, class: 'no-car-link' do %>
              <p>Click here if you don't need to rent a car</p>
            <% end %>
          </div>
        </div>

        <div class = "row">
          <div class = 'modal-row'>
            <div class = "col-md-10">
              <span id = "text1">Contacting car rental companies</span>
            </div>
            <div class = "col-md-2">
              <div id = "wait1"><%= render 'shared/modal_checkbox' %></div>
              <div class = "modal-checkbox hidden" id = "checked1"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = 'modal-row'>
            <div class = "col-md-10">
              <span class = "light" id = "text2">Identifying all cars to be picked up in the airport</span>
            </div>
            <div class = "col-md-2">
              <div id = "wait2"><%= render 'shared/modal_checkbox' %></div>
              <div class = "modal-checkbox hidden", id = "checked2"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = 'modal-row'>
            <div class = "col-md-10">
              <span class = "light" id = "text3">Filtering the cars by category (from Mini to Premium) and price </span>
            </div>
            <div class = "col-md-2">
              <div id = "wait3"><%= render 'shared/modal_checkbox' %></div>
              <div class = "modal-checkbox hidden", id = "checked3"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>

        <%= render 'shared/modal_cars' %>

      </div>
    </div>
  </div>
</div>





