<div class="container-fluid page-result">
  <!-- part with tab and the result -->
  <div class="col-xs-12 col-md-6">
    <!-- part with tab showing best results by airports -->
    <div class="displayTrips">
      <div id="TitleShow">
        <h3>THE BEST DEALS FOR <%= @passengers_title %></h3>
        <p>From <strong><%= @starts_on.strftime("%B %e") %></strong> - To <strong><%= @returns_on.strftime("%B %e") %></strong></p>
      </div>
      <div class="row" id="see-flights">
        <% @trips_selection.each_with_index do |trip, index| %>
          <%= link_to selections_path(:trip_id => trip.id), class: 'tabLink result-card', 'data-toggle' => "modal", 'data-target' => '#car_wait_modal',method: :post, data: {round_trip_flight_id: trip.round_trip_flight.id} do %>
            <div class="cardContainer <%= 'selected' if index == 0 %> <%= 'hidden the-hidden-results' if index > 3 %>" >
              <div class="card-description">
                <div class="card-description-item">
                  <p>
                    <span class="hours"><%= trip.round_trip_flight.flight1_take_off_at.strftime("%H:%M") %></span>
                    <span class="airport">
                      <%= @city_real_name%> <span class="light-data"> <%= trip.round_trip_flight.flight1_origin_airport_iata %></span>
                    </span>
                  </p>
                  <p>
                    <span class="info-label-back"><span class="hours"><%= trip.round_trip_flight.flight2_take_off_at.strftime("%H:%M") %></span> <span class="airport"> <%= Constants::CITY_REGION[trip.round_trip_flight.flight2_origin_airport_iata] %><span class="light-data"> <%= trip.round_trip_flight.flight2_origin_airport_iata %> </span> </span> </span>
                  </p>
                </div>
                <div class="card-description-item">
                  <p>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span class="info-label-go"> <span class="hours"> <%= trip.round_trip_flight.flight1_landing_at.strftime("%H:%M") %> </span> <span class="airport"><%= Constants::CITY_REGION[trip.round_trip_flight.flight1_destination_airport_iata]  %> <span class="light-data"><%= trip.round_trip_flight.flight1_destination_airport_iata %></span> </span> </span>
                  </p>
                  <p>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span class="hours"><%= trip.round_trip_flight.flight2_landing_at.strftime("%H:%M") %> </span> <span class="airport"> <%= @city_real_name%> <span class="light-data"> <%= trip.round_trip_flight.flight2_destination_airport_iata %> </span> </span>
                  </p>
                </div>
                <div class="card-description-item">
                  <p>
                    <span class="light-data"> <span class="flight-label"> <%= Constants::AIRLINES[trip.round_trip_flight.carrier1]  %> </span> </span>
                  </p>
                  <p>
                    <span class="light-data"> <span class="flight-label"> <%= Constants::AIRLINES[trip.round_trip_flight.carrier2]  %> </span> </span>
                  </p>
                </div>
              </div>
              <div class="price-action">
                <div class="card-price ">
                  <p><%= trip.price.round %> €</p>
                </div> <!-- fin card-price -->
              </div>
            </div>
          <% end %>
        <% end %>
        <div class=" text-center" id="more-flights">
          <p id="see-more-flights"><strong>See more flights</strong></p>
          <p class="hidden" id="hide-more-flights"><strong>See less flights</strong></p>
        </div>
      </div>  <!-- fin du row -->
    </div> <!-- fin du displaytrips -->
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="airport-map">
      <div id="map", style="width: 100%; height: 600px;">
      </div>
    </div>
  </div>

</div>

<%= render 'car_wait_modal', modal_name: "car_wait_modal" %>
