
 <div class="wrapper">
  <!-- <div class="container"> -->
    <div class="recap-of-search">
      <div class="logo-head">
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo.png", class: "logo-nav" %>
        <% end %>
      </div>
      <div class="text-head">
        <h3>You are flying from <%= @city_real_name%> to <%= @region%> | Departure on: <%= @starts_on %> | Return on: <%= @returns_on%></h3>
      </div>
    </div>
  <!-- </div> -->
</div>

<div class= "container-fluid">
  <div class = "row">
    <div class = "col-md-6">
      <p class = "text-center" > Flight to <%= @region %></p>
    </div>
    <div class = "col-md-6">
      <p class = "text-center" > Flight from <%= @region %></p>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-6">
      <div class="filters">
        <ul class="list-inline text-center">
          <li>
            <h3><i class="fa fa-plane"></i> Take-off time from <%= @city_real_name %> after >> </h3>
          </li>

          <li>
            <div class="text-center links-box">
              <div class="option <%= 'active' if params['f1_min_take_off'] == "" || params['f1_min_take_off'].nil? %>">
                <%= link_to "flexible", search_path(@search, @filters.merge('f1_min_take_off' => "")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>

              <div class="option <%= 'active' if params['f1_min_take_off'] == "8am" %>">
                <%= link_to "8AM", search_path(@search, @filters.merge('f1_min_take_off' => "8am")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_min_take_off'] == "10am" %>">
                <%= link_to "10AM", search_path(@search, @filters.merge('f1_min_take_off' => "10am")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_min_take_off'] == "2pm" %>">
                <%= link_to "2PM", search_path(@search, @filters.merge('f1_min_take_off' => "2pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_min_take_off'] == "6pm" %>">
                <%= link_to "6PM", search_path(@search, @filters.merge('f1_min_take_off' => "6pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_min_take_off'] == "8pm" %>">
                <%= link_to "8PM", search_path(@search, @filters.merge('f1_min_take_off' => "8pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class = "col-md-6">
       <div class="filters">
        <ul class="list-inline text-center">
          <li>
            <div class="text-center links-box">
              <div class="option <%= 'active' if params['f2_min_take_off'] == "" || params['f2_min_take_off'].nil?%>">
                <%= link_to "flexible", search_path(@search, @filters.merge('f2_min_take_off' => "")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_min_take_off'] == "8am" %>">
                <%= link_to "8AM", search_path(@search, @filters.merge('f2_min_take_off' => "8am")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_min_take_off'] == "10am" %>">
                <%= link_to "10AM", search_path(@search, @filters.merge('f2_min_take_off' => "10am")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_min_take_off'] == "2pm" %>">
                <%= link_to "2PM", search_path(@search, @filters.merge('f2_min_take_off' => "2pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_min_take_off'] == "6pm" %>">
                <%= link_to "6PM", search_path(@search, @filters.merge('f2_min_take_off' => "6pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_min_take_off'] == "8pm" %>">
                <%= link_to "8PM", search_path(@search, @filters.merge('f2_min_take_off' => "8pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
          </li>
           <li>
            <h3> << Take-off time from <%= @region %> after <i class="fa fa-plane"></i> </h3>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-6">
      <div class="filters">
        <ul class="list-inline text-center">
          <li>
            <h3><i class="fa fa-plane"></i> Landing time in <%= @region %> before >> </h3>
          </li>

          <li>
            <div class="text-center links-box">
              <div class="option <%= 'active' if params['f1_max_landing'] == "" || params['f1_max_landing'].nil? %>">
                <%= link_to "flexible", search_path(@search, @filters.merge('f1_max_landing' => "")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_max_landing'] == "8am" %>">
                <%= link_to "8AM", search_path(@search, @filters.merge('f1_max_landing' => "8am")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_max_landing'] == "10am" %>">
                <%= link_to "10AM", search_path(@search, @filters.merge('f1_max_landing' => "10am")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_max_landing'] == "2pm" %>">
                <%= link_to "2PM", search_path(@search, @filters.merge('f1_max_landing' => "2pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_max_landing'] == "6pm" %>">
                <%= link_to "6PM", search_path(@search, @filters.merge('f1_max_landing' => "6pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f1_max_landing'] == "8pm" %>">
                <%= link_to "8PM", search_path(@search, @filters.merge('f1_max_landing' => "8pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class = "col-md-6">
      <div class="filters">
        <ul class="list-inline text-center">
          <li>
            <div class="text-center links-box">
              <div class="option <%= 'active' if params['f2_max_landing'] == "" || params['f2_max_landing'].nil? %>">
                <%= link_to "flexible", search_path(@search, @filters.merge('f2_max_landing' => "")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_max_landing'] == "8am" %>">
                <%= link_to "8AM", search_path(@search, @filters.merge('f2_max_landing' => "8am")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_max_landing'] == "10am" %>">
                <%= link_to "10AM", search_path(@search, @filters.merge('f2_max_landing' => "10am")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_max_landing'] == "2pm" %>">
                <%= link_to "2PM", search_path(@search, @filters.merge('f2_max_landing' => "2pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_max_landing'] == "6pm" %>">
                <%= link_to "6PM", search_path(@search, @filters.merge('f2_max_landing' => "6pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <div class="option <%= 'active' if params['f2_max_landing'] == "8pm" %>">
                <%= link_to "8PM", search_path(@search, @filters.merge('f2_max_landing' => "8pm")) , class: "radio-btn"%>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
          </li>
          <li>
            <h3> << Landing time in <%= @city_real_name %> before <i class="fa fa-plane"></i> </h3>
          </li>
        </ul>
      </div>
    </div>
    </div>

  </div>

</div>


  <div class="container-fluid">
    <!-- part with tab and the result -->
    <div class="col-xs-12 col-md-6">
      <!-- part with tab showing best results by airports -->

      <h3 id="title-tab" class="text-center">Choose the airports you land in and return from </h3>
      <div class="tabContainer">
        <div class="legend-arrival">
          <p class="text-center"><i class="fa fa-plane fa-rotate-180" aria-hidden="true"></i> Arrival airport</p>
        </div>
        <div class="contentTab">
          <div class="row">
            <div class="flexbox">
              <div class="legendTabResult text-center">
                <p><i class="fa fa-plane" aria-hidden="true"></i> Return airport</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="flexbox">
              <div class="tabGrid" id="all-flights">
                <strong><%= link_to "All flights", search_path(@search), class: "tabLink"%></strong>
              </div>
              <% @region_airports.each do |airport| %>
                <div class="tabGrid text-center"><%= Constants::CITY_REGION[airport] %></div>
              <% end %>
            </div>
          </div>
          <% if @region_airports.size > 0 %>
            <div class="row">
              <div class="flexbox">
                <div class="tabGrid "><%= Constants::CITY_REGION[@region_airports[0]] %></div>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[0]).merge(region_airport2: @region_airports[0])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips0_0 != [] && @trips0_0.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips0_0 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips0_0.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>

                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[0]).merge(region_airport2: @region_airports[1])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips0_1 != [] && @trips0_1.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips0_1 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips0_1.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>

                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[0]).merge(region_airport2: @region_airports[2])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips0_2 != [] && @trips0_2.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips0_2 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips0_2.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[0]).merge(region_airport2: @region_airports[3])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips0_3 != [] && @trips0_3.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips0_3 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips0_3.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
              </div>
            </div>
          <% end  %>

          <% if @region_airports.size > 1  %>
            <div class="row ">
              <div class="flexbox">
                <div class="tabGrid "><%= Constants::CITY_REGION[@region_airports[1]] %></div>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[1]).merge(region_airport2: @region_airports[0])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips1_0 != [] && @trips1_0.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips1_0 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips1_0.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>

                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[1]).merge(region_airport2: @region_airports[1])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips1_1 != [] && @trips1_1.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips1_1 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips1_1.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[1]).merge(region_airport2: @region_airports[2])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips1_2 != [] && @trips1_2.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips1_2 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips1_2.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[1]).merge(region_airport2: @region_airports[3])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips1_3 != [] && @trips1_3.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips1_3 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips1_3.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
              </div>
            </div>
          <% end  %>

          <% if @region_airports.size > 2  %>
            <div class="row ">
              <div class="flexbox">
                <div class="tabGrid "><%= Constants::CITY_REGION[@region_airports[2]] %></div>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[2]).merge(region_airport2: @region_airports[0])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips2_0 != [] && @trips2_0.first.price.to_f.round == @trip_cheapest_price %> text-center">

                    <% if @trips2_0 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips2_0.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[2]).merge(region_airport2: @region_airports[1])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips2_1 != [] && @trips2_1.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips2_1 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips2_1.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[2]).merge(region_airport2: @region_airports[2])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips2_2 != [] && @trips2_2.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips2_2 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips2_2.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[2]).merge(region_airport2: @region_airports[3])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips2_3 != [] && @trips2_3.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips2_3 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips2_3.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
              </div>
            </div>
          <% end  %>


          <% if @region_airports.size > 3  %>
            <div class="row ">
              <div class="flexbox">
                <div class="tabGrid "><%= Constants::CITY_REGION[@region_airports[3]] %></div>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[3]).merge(region_airport2: @region_airports[0])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips3_0 != [] && @trips3_0.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips3_0 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips3_0.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[3]).merge(region_airport2: @region_airports[1])), class: "tabLink " do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips3_1 != [] && @trips3_1.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips3_1 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips3_1.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[3]).merge(region_airport2: @region_airports[2])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips3_2 != [] && @trips3_2.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips3_2 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips3_2.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[3]).merge(region_airport2: @region_airports[3])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips3_3 != [] && @trips3_3.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips3_3 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips3_3.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
              </div>
            </div>
          <% end  %>
        </div> <!-- <div class="contentTab"> -->
      </div> <!-- <div class="tabContainer"> -->

      <div class="displayTrips">

        <div id="TitleShow"><h3>The best deals:</h3></div>

        <div class="row">
          <% @trips_selection.each do |trip| %>
            <div class="col-xs-12 col-sm-12">
              <%= link_to trip_path(trip), class: "tabLink result-card", data: { round_trip_flight_id: trip.round_trip_flight.id } do %>
                <!-- <div class="flexbox"> -->
                  <div class="cardContainer ">
                    <div class="card-description">
                      <p> Flying away: <i class="fa fa-plane" id="good-style" aria-hidden="true"></i> <%= trip.round_trip_flight.flight1_take_off_at.strftime("%b %d") %> | <%= trip.round_trip_flight.flight1_take_off_at.localtime.strftime("%H:%M") %> <%= trip.round_trip_flight.flight1_origin_airport_iata %> => <i class="fa fa-plane fa-flip-vertical" id="good-style" aria-hidden="true"></i> <%= trip.round_trip_flight.flight1_landing_at.localtime.strftime("%H:%M") %> <%= trip.round_trip_flight.flight1_destination_airport_iata %></p>
                      <p> Flying back: <i class="fa fa-plane" id="good-style" aria-hidden="true"></i> <%= trip.round_trip_flight.flight2_take_off_at.strftime("%b %d") %> | <%= trip.round_trip_flight.flight2_take_off_at.localtime.strftime("%H:%M") %> <%= trip.round_trip_flight.flight2_origin_airport_iata %> => <i class="fa fa-plane fa-flip-vertical" id="good-style" aria-hidden="true"></i> <%= trip.round_trip_flight.flight2_landing_at.localtime.strftime("%H:%M") %> <%= trip.round_trip_flight.flight2_destination_airport_iata %></p>
                    </div>
                    <div class="price-action">
                      <div class="call-action">
                        <%= submit_tag "SELECT", class: "bouton-action" %>
                      </div>
                      <div class="card-price ">
                        <p> <%= trip.price.round %> €</p>
                      </div> <!-- fin card-price -->
                    </div>
                  </div>
                <!-- </div> --> <!-- fin cardContainer -->
              <% end %>
            </div> <!-- fin de col -->
          <% end %>
        </div>  <!-- fin du row -->
      </div> <!-- fin du displaytrips -->
    </div>

    <div class="col-xs-12 col-md-6">
      <div>
        <div id="map", style="width: 100%; height: 600px;"></div>
      </div>
    </div>
  </div>

<!-- </div> -->


  <% content_for(:after_js) do %>

    <script>
      $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({
            provider: {
              scrollwheel: false,
              styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]

            },
            internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @first_result.to_json %>);

            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(5);

          });
          $('.result-card').mouseenter('click', function(e) {
            e.preventDefault();
            var roundTripFlightId = $(this).data('round-trip-flight-id');
            $.ajax({
              type: "GET",
              url: '/round_trip_flights/' + roundTripFlightId + '/refresh_map',
              dataType: "json",
              success: function(result){
                for (var i = 0; i < markers.length; i++) {
                  markers[i].setMap(null);
                  handler.removeMarkers(markers);
                }
                markers = [];
                markers = handler.addMarkers(result);
                handler.bounds.extendWith(markers);
              }
            })
            handler.fitMapToBounds();
            handler.getMap().setZoom(5);
          })
        });
    </script>

  <% end %>





