
<div class="page-banner text-center">
  <div class="page-banner-title">
      <div class = "col-md-12 title-col">
        <span> <%= link_to root_path do %>
          <%= image_tag "blue_logo_no_word.png", class: "logo"%>
        <% end %> </span>
        <span class ="brand-name">Planisfer</span>
        <span class = "banner2-title">Welcome to <%= @region.name %>!</span> <span class = "banner2-title">Let's first book your flights</span>
      </div>
    </div>
  <span class = "booking-status">
    <%= render 'shared/booking_status', :status => 2 %>
  </span>
</div>

<div class="container-fluid page-result">
  <!-- part with tab and the result -->
  <div class="col-xs-12 col-md-6">
    <!-- part with tab showing best results by airports -->
    <div class="displayTrips">
      <div class = "row">
        <div id="TitleShow">
          <h3>CHEAPEST DIRECT FLIGHTS </h3>
          <p> From <strong><%= @starts_on.strftime("%B %e") %></strong> - To <strong><%= @returns_on.strftime("%B %e") %></strong></p>
          <span id="price-for"> Price for <%= @passengers_title %></span>
        </div>
      </div>

      <!-- Price lists and map-->
      <div id="page-result-container">
        <%= render "results" %>
      </div>

      <div class = "row">

        <div id = "all-flights">
          <%= link_to "javascript:showhide('filters')" do%>
            <p class="<%= 'hidden' if @status == 'block' %>" id="see-filters"><strong>Change search criteria</strong></p>
            <p class="<%= 'hidden' if @status == 'none' %>" id="hide-filters"><strong>Hide filters</strong></p>
          <% end  %>
        </div>

        <div id="more-flights">
          <span id="see-more-flights"><strong>See more flights</strong></span>
          <span class="hidden" id="hide-more-flights"><strong>See less flights</strong></span>
        </div>

      </div>


      <div class = "row">
                <!-- ouverture filters -->
        <div class= "<%= 'not-displayed' if @status == 'none' %>" id="filters">
          <%=form_tag search_path(@search), method: :get, remote: :true, id: "searchForm" do %>
          <!-- ouverture row -->


            <div class = "container-fluid">

              <div class = "row">

                <div class = 'row'>

                  <div class = "row">
                    <div class="filter-slider">

                      <div class = 'col-md-6'>
                        <div class = "filer-slider-item">
            <!-- A priori la div ci dessous n'est pas utile -->
                          <div class = "filter-box">

                            <h5 class = "text-center" > From <strong> <%= @city_real_name%> </strong> to <strong> <%= @region.name %> </strong></h5>
                            <div class="filters">
                              <ul class="text-center">
                                <li>
                                  <h3><i class="fa fa-plane"></i> Take-off time</h3>
                                </li>
                                <li>
                                  <%= text_field_tag :flight1_range, nil, class: "bootstrap_slider submit-on-change",
                                  data: { provide: :slider, "slider-value" => "[#{params[:flight1_range] || "4,23" }]", "slider-min" => 4, "slider-max" => 23, "slider-tooltip_split" => true } %>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class = 'col-md-6'>
                        <div class="filter-slider-item">
                          <div class = "filter-box">
                            <h5 class = "text-center" > From <strong> <%= @region.name %> </strong> to <strong> <%= @city_real_name %></strong></h5>
                            <div class="filters">
                              <ul class="text-center">
                                <li>
                                  <h3><i class="fa fa-plane"></i> Take-off time</h3>
                                </li>

                                <li>
                                  <%= text_field_tag :flight2_range, nil, class: "bootstrap_slider submit-on-change",
                                  data: { provide: :slider, "slider-value" => "[#{params[:flight2_range] || "0,23" }]", "slider-min" => 4, "slider-max" => 23, "slider-tooltip_split" => true } %>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>


                <div class = 'row'>
                  <div class="filter-buttons">

                    <div class = "row">
                      <h5 class = "airport-filter" > Possible arrival and return <strong>cities </strong></h5>
                    </div>

                    <div class = "row">
                      <% @region_airports_cities.each do |airport| %>
                        <div class = "col-md-3 content-center">
                          <div class = "btn-tag filtered-city <%= 'city-selected' if @selected_airports.include?(airport)%>" data-city="<%= airport.cityname%>"><%= airport.cityname%></div>
                        </div>
                      <% end %>

                    </div>

                  </div>

                </div>

              </div>

              <div class="row">
                <div class ="text-center filter-apply">
                  <%= hidden_field_tag 'selected-cities', params['selected-cities'], class: "submit-on-change" %>
                  <%# submit_tag "Apply filters", class: "btn-brand" %>
                </div>
              </div>

            </div>

          <% end %>
        </div>
      </div>

    </div> <!-- fin du displaytrips -->


    <div class = "row">

      <div id="poi-title">
        <h3>PLANISFER TRAVELERS' FAVOURITES IN <%= @region.name.upcase%> </h3>
      </div>

      <div class="col-md-12">
        <div class="trending text-center" id="trendy-destination">
          <div class="blocks">
            <% @region.pois.each do |poi| %>
              <span class="block xsm destination" data-toggle="modal" data-target="#modal_1">
                <%= image_tag "#{@region.name.downcase.gsub(/\ /, '-')}/#{poi.downcase.gsub(/\ /, '-')}.jpg", class:"dest-image"%>
                <span class="box poi-card" data-poi = "<%= Poi.find_by_name(poi.strip).id %>"  data-region = "<%= @region.id %>">
                  <span class="text in-box">
                    <span class="primarytext"> <%= poi %></span>
                  </span>
                </span>
              </span>
            <% end %>
          </div> <!-- fin du blocks -->
        </div> <!-- fin du trending -->
      </div> <!-- fin du 2e col-xs-12 principal -->
    </div>

  </div>

  <div class="col-xs-12 col-md-6">
    <div class = "legends">
      <img><%= image_tag "dot_marker.png", class: "legend_highlight"%> Planisfer travelers' favourite destinations </img>
      <img><%= image_tag "airport-black.svg", class: "legend_airport" %> Airports </img>
    </div>
    <div class="airport-map">
      <div id="map", style="width: 100%; height: 600px;"></div>
    </div>
  </div>

</div>

<%= render 'car_wait_modal', {modal_name: "car_wait_modal", trip: @trip} %>




<% content_for(:after_js) do %>


  <script>
    $(document).ready(function() {
      $('.slider').on('click', function() {
        $('#searchForm').submit();
      })

      $('.filtered-city').on('click', function() {
        setTimeout(function() {
          $('#searchForm').submit();
        }, 100)
      })

      var handler = Gmaps.build('Google');

      handler.buildMap({
        provider: {
          scrollwheel: false,
          styles: [
            {"featureType":"administrative","elementType":"labels.text","stylers":[{"color":"#444444"}, {"visibility":"off"}]},
            // {"featureType":"administrative.province","elementType":"labels.text","stylers":[{"color":"#444444"}, {"visibility":"on"}]},
            {"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},
            {"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},
            {"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},
            {"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},
            {"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},
            {"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},
            {"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}
          ]
        },
        internal: { id: 'map' }}, function() {
          markers = handler.addMarkers( <%= raw @initial_markers.to_json %> );
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();

          for (var i = 0; i < markers.length; i++) {
            var selectedMarker = markers[i];
            //create an options object
            var testTooltipHtml = selectedMarker.serviceObject.title ;
            var tooltipOptions={ marker:selectedMarker, content:testTooltipHtml};
            // create the tooltip
            var tooltip = new Tooltip(tooltipOptions);
          }
        },
      );


      $('.result-card').mouseenter('click', function(e) {
        e.preventDefault();
        $('.cardContainer.selected').removeClass('selected');
        $(this).children('.cardContainer').addClass('selected');
        var tripId = $(this).data('trip-id');
        var colours = $(this).data('colours');
        //
        $.ajax({
          type: "GET",
          url: '/trips/' + tripId + '/refresh_map',
          data: {airport_colours: colours},
          dataType: "json",
          success: function(result) {
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
              handler.removeMarkers(markers);
            }
            markers = handler.addMarkers(result);
          }
        })

        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      })

      $('.result-card').mouseleave('click', function(e) {
        e.preventDefault();
        var tripId = $(this).data('trip-id');
        handler.removeMarkers(markers);
        markers = handler.addMarkers( <%= raw @initial_markers.to_json %> );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      })

      $('#car_wait_modal').on('show.bs.modal', function(e) {
        //get data-id attribute of the clicked element
        var tripId = $(e.relatedTarget).data('trip-id');
        $('.no-car-link').on('click', function(event){
          $(this).attr('href', '/orders/?trip_id=' + tripId);
        });
      });


      $('.poi-card').mouseenter('click', function(e) {
        e.preventDefault();
        var poiId = $(this).data('poi');
        var regionId = $(this).data('region');
        $.ajax({
          type: "GET",
          url: '/pois/' + poiId + '/highlight_poi',
          data: {region_id: regionId},
          dataType: "json",
          success: function(result) {
            // console.log('test')
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
              handler.removeMarkers(markers);
            }
            markers = handler.addMarkers(result);
          }
        })
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      })
      $("#more-flights").click(function() {
        $("#see-more-flights").toggleClass("hidden");
        $("#hide-more-flights").toggleClass("hidden");
        $(".the-hidden-results").toggleClass("hidden");
      })
    });

  </script>

  <script>
    $(document).ready(function() {
      $('.filtered-city').on('click', function(event) {
        $(this).toggleClass('city-selected');
        update_form_selected_cities();
      });
      $(".filtered-city").removeClass("city-selected");
      <% @selected_airports.each do |airport| %>
      $(".filtered-city[data-city=<%= airport.cityname %>]").addClass("city-selected");
      <% end %>
    });
    function update_form_selected_cities() {
      var selected_cities = "";
      $(".city-selected").each(function( index ) {
        selected_cities = selected_cities + $(this).text() + ",";
      });
      selected_cities = selected_cities.slice(0,-1); //remove last coma
      $('#selected-cities').val(selected_cities);
    }
  </script>
  <script>
    function showhide(id) {
      var e = document.getElementById(id);
      if ($('#' + e.id).hasClass('not-displayed')) {
        $("#more-flights").addClass("hidden");
        $('#' + e.id).slideDown('slow');
        $('#' + e.id).removeClass('not-displayed')
        $("#see-filters").addClass("hidden");
        $("#hide-filters").removeClass("hidden");
      } else {
        $('#' + e.id).slideUp('slow');
        $('#' + e.id).addClass('not-displayed')
        $("#see-filters").removeClass("hidden");
        $("#hide-filters").addClass("hidden");
        $("#more-flights").removeClass("hidden");
      };
    };

    $('#flight1_range, #flight2_range').slider({
      formatter: function(value) {
        if (value < 12){
          return value + 'am';
        }
        else if (value == 12){
          return "noon";
        }
        else {
          return value - 12 +'pm';
        }
      }
    });

  </script>

  <script>
    $(document).ready(function() {
      $('.result-card').on('click', function(event) {
        setTimeout(function() {
          $('#car1').removeClass('hidden');
        }, 500)
        setTimeout(function() {
          $('#car2').removeClass('hidden');
          $('#car5').removeClass('hidden');
        }, 1000)
        setTimeout(function() {
          $('#car7').removeClass('hidden');
        }, 1300)
        setTimeout(function() {
          $('#car12').removeClass('hidden');
          $('#car10').removeClass('hidden');
        }, 2100)
         setTimeout(function() {
          $('#car6').removeClass('hidden');
        }, 2400)
         setTimeout(function() {
          $('#car11').removeClass('hidden');
          $('#car3').removeClass('hidden');
          $('#car8').removeClass('hidden');
        }, 3000)
         setTimeout(function() {
          $('#car4').removeClass('hidden');
        }, 3300)
         setTimeout(function() {
          $('#car9').removeClass('hidden');
        }, 4000)


        setTimeout(function() {
          $('#wait1').addClass('hidden');
          $('#text2').removeClass('light');
          $('#text1').addClass('light');
          $('#checked1').removeClass('hidden');
        }, 3000)

        setTimeout(function() {
          $('#wait2').addClass('hidden');
          $('#text2').addClass('light');
          $('#text3').removeClass('light');
          $('#checked2').removeClass('hidden');
        }, 7000)

      })
    })
  </script>

  <script>
  // create a constructor
    function Tooltip(options) {
      // Now initialize all properties.
      this.marker_ = options.marker;
      this.content_ = options.content;
      this.map_ = options.marker.serviceObject.map;
      this.cssClass_ = options.cssClass||null;
      // We define a property to hold the content's
      // div. We'll actually create this div
      // upon receipt of the add() method so we'll
      // leave it null for now.
      this.div_ = null;
      //Explicitly call setMap on this overlay
      this.setMap(this.map_);
      var me = this;
      // Show tooltip on mouseover event.
      me.show();
      // Hide tooltip on mouseout event.

    }

    // Now we extend google.maps.OverlayView()
    Tooltip.prototype = new google.maps.OverlayView();
    // onAdd is one of the functions that we must implement,
    // it will be called when the map is ready for the overlay to be attached.
    Tooltip.prototype.onAdd = function() {
      // Create the DIV and set some basic attributes.
      var div = document.createElement('DIV');
      div.style.position = "absolute";
      // Hide tooltip
      // div.style.visibility = "hidden";
      if(this.cssClass_)
      div.className += " "+this.cssClass_;
      //Attach content to the DIV.
      div.innerHTML = this.content_;
      // Set the overlay's div_ property to this DIV
      this.div_ = div;
      // We add an overlay to a map via one of the map's panes.
      // We'll add this overlay to the floatPane pane.
      var panes = this.getPanes();
      panes.floatPane.appendChild(this.div_);
    }

    // We here implement draw
    Tooltip.prototype.draw = function() {
    // Position the overlay. We use the position of the marker
    // to peg it to the correct position, just northeast of the marker.
    // We need to retrieve the projection from this overlay to do this.
    var overlayProjection = this.getProjection();
    // Retrieve the coordinates of the marker
    // in latlngs and convert them to pixels coordinates.
    // We'll use these coordinates to place the DIV.
    console.log(this.marker_.serviceObject.position)
    var ne = overlayProjection.fromLatLngToDivPixel(this.marker_.serviceObject.position);
    // Position the DIV.
    var div = this.div_;
    div.style.left = ne.x + 'px';
    div.style.top = ne.y + 'px';
    }
    // We here implement onRemove
    // Tooltip.prototype.onRemove = function() {
    // this.div_.parentNode.removeChild(this.div_);
    // }

    // Note that the visibility property must be a string enclosed in quotes
    // Tooltip.prototype.hide = function() {
    // if (this.div_) {
    // this.div_.style.visibility = "hidden";
    // }
    // }
    Tooltip.prototype.show = function() {
    if (this.div_) {
    this.div_.style.visibility = "visible";
    }
    }

  </script>

<% end %>













