<!-- We should find a way to only display the trips of the last search and not all the requests -->
<div class="wrapper">
  <div class="container">
    <div class="recap-of-search">
      <h3>You are flying from <%= @city_real_name%> to <%= @region%> | Departure on: <%= @starts_on %> | Return on:<%= @returns_on%></h3>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <!-- part with tab and the result -->
    <div class="col-xs-12 col-sm-6">
      <!-- part with tab showing best results by airports -->

      <h3 id="title-tab" class="text-center">Choose the airports you land in and return from </h3>
      <div class="tabContainer">
        <div class="legend-arrival">
          <p class="text-center"><i class="fa fa-plane fa-rotate-180" aria-hidden="true"></i> Arrival airport</p>
        </div>
        <div class="contentTab">
          <div class="row">
            <div class="flexbox">
              <div class="legendTabResult text-center">
                <p><i class="fa fa-plane" aria-hidden="true"></i> Return airport</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="flexbox">
              <div class="tabGrid" id="all-flights">
                <strong><%= link_to "All flights", search_path(@search), class: "tabLink"%></strong>
              </div>
              <% @region_airports.each do |airport| %>
                <div class="tabGrid text-center"><%= Constants::CITY_REGION[airport] %></div>
              <% end %>
            </div>
          </div>
          <% if @region_airports.size > 0 %>
            <div class="row">
              <div class="flexbox">
                <div class="tabGrid "><%= Constants::CITY_REGION[@region_airports[0]] %></div>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[0]).merge(region_airport2: @region_airports[0])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips0_0 != [] && @trips0_0.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips0_0 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips0_0.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[0]).merge(region_airport2: @region_airports[1])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips0_1 != [] && @trips0_1.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips0_1 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips0_1.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[0]).merge(region_airport2: @region_airports[2])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips0_2 != [] && @trips0_2.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips0_2 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips0_2.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[0]).merge(region_airport2: @region_airports[3])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips0_3 != [] && @trips0_3.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips0_3 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips0_3.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
              </div>
            </div>
          <% end  %>

          <% if @region_airports.size > 1  %>
            <div class="row ">
              <div class="flexbox">
                <div class="tabGrid "><%= Constants::CITY_REGION[@region_airports[1]] %></div>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[1]).merge(region_airport2: @region_airports[0])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips1_0 != [] && @trips1_0.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips1_0 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips1_0.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[1]).merge(region_airport2: @region_airports[1])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips1_1 != [] && @trips1_1.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips1_1 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips1_1.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[1]).merge(region_airport2: @region_airports[2])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips1_2 != [] && @trips1_2.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips1_2 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips1_2.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[1]).merge(region_airport2: @region_airports[3])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips1_3 != [] && @trips1_3.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips1_3 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips1_3.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
              </div>
            </div>
          <% end  %>

          <% if @region_airports.size > 2  %>
            <div class="row ">
              <div class="flexbox">
                <div class="tabGrid "><%= Constants::CITY_REGION[@region_airports[2]] %></div>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[2]).merge(region_airport2: @region_airports[0])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips2_0 != [] && @trips2_0.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips2_0 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips2_0.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[2]).merge(region_airport2: @region_airports[1])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips2_1 != [] && @trips2_1.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips2_1 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips2_1.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[2]).merge(region_airport2: @region_airports[2])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips2_2 != [] && @trips2_2.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips2_2 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips2_2.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[2]).merge(region_airport2: @region_airports[3])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips2_3 != [] && @trips2_3.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips2_3 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips2_3.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
              </div>
            </div>
          <% end  %>


          <% if @region_airports.size > 3  %>
            <div class="row ">
              <div class="flexbox">
                <div class="tabGrid "><%= Constants::CITY_REGION[@region_airports[3]] %></div>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[3]).merge(region_airport2: @region_airports[0])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips3_0 != [] && @trips3_0.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips3_0 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips3_0.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[3]).merge(region_airport2: @region_airports[1])), class: "tabLink " do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips3_1 != [] && @trips3_1.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips3_1 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips3_1.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[3]).merge(region_airport2: @region_airports[2])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips3_2 != [] && @trips3_2.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips3_2 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips3_2.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
                <%= link_to search_path(@search, @filters.merge(region_airport1: @region_airports[3]).merge(region_airport2: @region_airports[3])), class: "tabLink" do %>
                  <div class="tabGrid <%= 'cheapest-option' if @trips3_3 != [] && @trips3_3.first.price.to_f.round == @trip_cheapest_price %> text-center">
                    <% if @trips3_3 == [] %>
                      <%= "-" %>
                    <% else %>
                      <%= @trips3_3.first.price.to_f.round %> €
                    <% end %>
                  </div>
                <% end  %>
              </div>
            </div>
          <% end  %>
        </div> <!-- <div class="contentTab"> -->
      </div> <!-- <div class="tabContainer"> -->

      <div class="displayTrips">

        <div id="TitleShow"><h3>The best deals:</h3></div>

        <div class="row">
          <% @trips_selection.each do |trip| %>
            <div class="col-xs-12 col-sm-12">
              <%= link_to trip_path(trip), class: "tabLink" do %>
                <!-- <div class="flexbox"> -->
                  <div class="cardContainer flexbox">
                    <div class="card-description">
                      <p> Flying away: <i class="fa fa-plane" aria-hidden="true"></i> <%= trip.round_trip_flight.flight1_take_off_at.strftime("%b %d") %> | <%= trip.round_trip_flight.flight1_take_off_at.localtime.strftime("%H:%M") %> <%= trip.round_trip_flight.flight1_origin_airport_iata %> => <i class="fa fa-plane fa-flip-vertical" aria-hidden="true"></i> <%= trip.round_trip_flight.flight1_landing_at.localtime.strftime("%H:%M") %> <%= trip.round_trip_flight.flight1_destination_airport_iata %></p>
                      <p> Flying back: <i class="fa fa-plane" aria-hidden="true"></i> <%= trip.round_trip_flight.flight2_take_off_at.strftime("%b %d") %> | <%= trip.round_trip_flight.flight2_take_off_at.localtime.strftime("%H:%M") %> <%= trip.round_trip_flight.flight2_origin_airport_iata %> => <i class="fa fa-plane fa-flip-vertical" aria-hidden="true"></i> <%= trip.round_trip_flight.flight2_landing_at.localtime.strftime("%H:%M") %> <%= trip.round_trip_flight.flight2_destination_airport_iata %></p>
                    </div>
                    <div class="card-price ">
                      <h2> <%= trip.price.round %> €</h2>
                    </div> <!-- fin card-price -->
                  </div>
                <!-- </div> --> <!-- fin cardContainer -->
              <% end %>
            </div> <!-- fin de col -->
          <% end %>
        </div>  <!-- fin du row -->
      </div> <!-- fin du displaytrips -->

      </div>
        <div class="col-sm-6">
          <div>
            <div style="width: 100%; height: 400px;"> <%= image_tag "CEE_map.jpg" %> </div>
          </div>
        </div>
      </div>
<!-- </div> -->


  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({
          provider: {
            scrollwheel: false,
            zoomControl: false
          },
          internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });

    <% end %>
  <% end %>

