
<div class="flight-ticket-title-1 text-center">
  <div class="banner-content">
    <%= link_to root_path do %>
    <%= image_tag "logo.png", class:"logo-1"%>
    <% end %>
  </div>
  <h1 class="">Your research for <%= @region%></h1>
</div>

<div>
  <%= link_to "javascript:showhide('filters')", class: "box-select-all-flights" do%>
    <div class="text-center" id="all-filters">
      <p class="<%= 'hidden' if @status == 'block' %>" id="see-filters"><strong>See filters</strong> <%= image_tag "arrow.png", class: "floating arrow-img-filter" %></p>
      <p class="<%= 'hidden' if @status == 'none' %>" id="hide-filters"><strong>Hide filters</strong><%= image_tag "arrow_up.png", class: "floating arrow-img-filter" %></p>
    </div>
  <% end  %>
</div>

<!-- ouverture filters -->
<div class= "page-result <%= 'not-displayed' if @status == 'none' %>" id="filters">
  <%=form_tag search_path(@search), method: :get, remote: true, id: "searchForm" do %>
  <!-- ouverture row -->
    <div class="container-fluid">
      <div class="filter-container">
        <div class="filter-slider">
          <div>
            <h5 class = "text-center" > From <strong> <%= @city_real_name%> </strong> to <strong> <%= @region %> </strong></h5>
            <div class="filters">
              <ul class="text-center">
                <li>
                  <h3><i class="fa fa-plane"></i> Take-off time</h3>
                </li>
                <li>
                  <%= text_field_tag :flight1_range, nil, class: "bootstrap_slider submit-on-change",
                  data: { provide: :slider, "slider-value" => "[#{params[:flight1_range] || "4,23" }]", "slider-min" => 4, "slider-max" => 23, "slider-tooltip_split" => true } %>
                </li>
              </ul>
            </div>
          </div>

          <div>
            <h5 class = "text-center" > From <strong> <%= @region %> </strong> to <strong> <%= @city_real_name %></strong></h5>
            <div class="filters">
              <ul class="text-center">
                <li>
                  <h3><i class="fa fa-plane"></i> Take-off time</h3>
                </li>

                <li>
                  <%= text_field_tag :flight2_range, nil, class: "bootstrap_slider submit-on-change",
                  data: { provide: :slider, "slider-value" => "[#{params[:flight2_range] || "0,23" }]", "slider-min" => 4, "slider-max" => 23, "slider-tooltip_split" => true } %>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <hr class="vertical-divider">

        <div class="filter-buttons">
          <div class = "text-center ">
            <% if @selected_cities.count == 4 %>
              <h5 class = "text-center" > Click to <strong> remove </strong> some cities</h5>
            <% elsif @selected_cities.count == 0 %>
              <h5 class = "text-center" > Click to <strong> add </strong> some cities</h5>
            <% else %>
              <h5 class = "text-center" > Click to <strong> add </strong> or <strong> remove </strong> some cities</h5>
            <% end %>

            <div class="city-tags">
              <div class = "btn-tag filtered-city <%= 'city-selected' if @selected_airports.include?(@region_airports[0])%>" data-city="<%=  Constants::CITY_REGION[@region_airports[0]]%>"><%= Constants::CITY_REGION[@region_airports[0]] %></div>

              <div class = "btn-tag filtered-city <%= 'city-selected' if @selected_airports.include?(@region_airports[1])%>" data-city="<%=Constants::CITY_REGION[@region_airports[1]]%>"><%= Constants::CITY_REGION[@region_airports[1]] %></div>
              <div class = "btn-tag filtered-city <%= 'city-selected' if @selected_airports.include?(@region_airports[2])%>" data-city="<%=Constants::CITY_REGION[@region_airports[2]]%>" ><%= Constants::CITY_REGION[@region_airports[2]] %></div>
              <div class = "btn-tag filtered-city <%= 'city-selected' if @selected_airports.include?(@region_airports[3])%>" data-city="<%=Constants::CITY_REGION[@region_airports[3]]%>" ><%= Constants::CITY_REGION[@region_airports[3]] %></div>
            </div>
          </div>
        </div>

    <!--  fermeture row -->
      </div>
    </div>

    <div class="row">
      <div class ="text-center filter-apply">
        <%= hidden_field_tag 'selected-cities', params['selected-cities'], class: "submit-on-change" %>
        <%# submit_tag "Apply filters", class: "btn-brand" %>
      </div>
    </div>
  <% end %>
</div>

  <!-- Price lists and map-->
  <div id="page-result-container">
    <%= render "results" %>
  </div>

</div>

<% content_for(:after_js) do %>


  <script>
    $(document).ready(function() {
      $('.slider').on('click', function() {
        $('#searchForm').submit();
      })

      $('.filtered-city').on('click', function() {
        setTimeout(function() {
          $('#searchForm').submit();
        }, 100)
      })


      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          scrollwheel: false,
          styles: [
            {"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},
            {"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},
            {"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},
            {"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},
            {"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},
            {"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},
            {"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},
            {"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}
          ]
        },
        internal: { id: 'map' } }, function() {
        markers = handler.addMarkers( <%= raw @first_result.to_json %> );
        handler.bounds.extendWith(markers);
        handler.getMap().setZoom(5);
        handler.fitMapToBounds();
        // displayMarkers(markers)
      });
      $('.result-card').mouseenter('click', function(e) {
        e.preventDefault();
        $('.cardContainer.selected').removeClass('selected');
        $(this).children('.cardContainer').addClass('selected');
        var roundTripFlightId = $(this).data('round-trip-flight-id');

        $.ajax({
          type: "GET",
          url: '/round_trip_flights/' + roundTripFlightId + '/refresh_map',
          dataType: "json",
          success: function(result){
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
              handler.removeMarkers(markers);
            }
            markers = [];
            markers = handler.addMarkers(result);
            handler.bounds.extendWith(markers);
          }
        })
        handler.fitMapToBounds();
        handler.getMap().setZoom(5);
      })
      $("#more-flights").click(function() {
        $("#see-more-flights").toggleClass("hidden");
        $("#hide-more-flights").toggleClass("hidden");
        $(".the-hidden-results").toggleClass("hidden");
      });
    });
  </script>

<script>
  $(document).ready(function() {
    $('.filtered-city').on('click', function(event) {
      $(this).toggleClass('city-selected');
      update_form_selected_cities();
    });
    $(".filtered-city").removeClass("city-selected");
    <% @selected_cities.each do |city| %>
    $(".filtered-city[data-city=<%= city %>]").addClass("city-selected");
    <% end %>
  });
  function update_form_selected_cities() {
    var selected_cities = "";
    $(".city-selected").each(function( index ) {
      selected_cities = selected_cities + $(this).text() + ",";
    });
      selected_cities = selected_cities.slice(0,-1); //remove last coma
      $('#selected-cities').val(selected_cities);
      }
  </script>
  <script>
    function showhide(id) {
      var e = document.getElementById(id);
      if ($('#' + e.id).hasClass('not-displayed')) {
        $('#' + e.id).slideDown('slow');
        $('#' + e.id).removeClass('not-displayed')
        $("#see-filters").addClass("hidden");
        $("#hide-filters").removeClass("hidden");
      } else {
        $('#' + e.id).slideUp('slow');
        $('#' + e.id).addClass('not-displayed')
        $("#see-filters").removeClass("hidden");
        $("#hide-filters").addClass("hidden");
      };
    };

    $('#flight1_range, #flight2_range').slider({
  formatter: function(value) {
    if (value < 12){
      return value + 'am';
    }
    else if (value == 12){
      return "noon";
    }
    else {
      return value - 12 +'pm';
    }
  }
});

  </script>


<% end %>













