<%= form_tag experience_subexperiences_path(experience_id: @experience.id), id: "feedbackForm-#{poi_id}" do %>

  <div class = 'feedback-form hidden' id = '<%= poi_id %>' >
    <div class = 'rating-container'>

      <div class = 'row'>
        <div class = 'col-xs-12'>
          <div class = 'selection-title'>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <h5>What did you think of <%= Poi.find(poi_id).name %>?</h5>
          </div>
        </div>
      </div>

      <div class = 'row equal-col-size'>
        <div class = 'col-xs-12 col-md-12'>

          <div class = 'row reviewing-container'>

            <div class = 'col-xs-6 rating-area'>
              <% (1..5).each do |number| %>
                <div class = "radio-button-padding">
                  <label class="btn star-btn <%= 'rating-selected' if @rating_status[poi_id.to_s][number.to_s] %>" id = "<%= poi_id %>-<%= number %>" data-number = "<%= number %>" data-poi = "<%= poi_id %>">
                    <i class="fa fa-star-o fa-2x rating-star empty-star <%= 'hidden' if @star_full_hash[poi_id.to_s][number.to_s]%>" aria-hidden="true" id="<%= number %>"></i>
                    <i class="fa fa-star fa-2x rating-star full-star <%= 'hidden' unless @star_full_hash[poi_id.to_s][number.to_s]%>" aria-hidden="true" id="<%= number %>"></i>
                    <input type="radio" class = 'hidden' name="rating" id="input-rating<%= number %>" value="<%= number %>" autocomplete="off">

                  </label>
                </div>
              <% end %>
            </div>

            <div class = 'col-xs-6'>
              <%= text_area_tag :review, @reviews[poi_id.to_s], placeholder: "Why this rating?", class: "form-control review-field-form", id: "review-#{ poi_id}" %>
            </div>

          </div>

          <div class = 'row'>
            <div class = 'col-xs-12'>
              <div class = 'selection-title'>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <h5 id = 'place-title'>Any particular place you loved? <br>(Hotel, activity, restaurant?)</h5>
              </div>
              <h5>
              </h5>
            </div>
          </div>

          <div class = 'row reviewing-container'>
            <div class = 'col-xs-12 col-md-4'>
              <%= text_area_tag :activity_name, @activities[poi_id.to_s], placeholder: "Name", class: "form-control review-field-form activity-name-form "%>
            </div>

            <div class = 'col-xs-12 col-md-8'>
              <%= text_area_tag :activity_review, @activity_reviews[poi_id.to_s], placeholder: "Why was it so great?", class: "form-control review-field-form"%>
            </div>
          </div>

          <div class = 'row save-feedback-row'>
            <div class = 'col-xs-6'>
              <%= hidden_field_tag 'poi_id', poi_id %>
              <%= submit_tag "SAVE FEEDBACK FOR #{Poi.find(poi_id).name.upcase}", class: "btn-brand feedback-btn"%>
            </div>

            <div class= 'col-xs-6'>
              <% if @confirmable %>
                  <div class= "btn-brand feedback-btn validate-feedbacks-btn text-center light-button-opacity <%= 'last_to_be_reviewed' if @last_to_be_reviewed %>" data-toggle="modal" data-target="#toReco" data-region = "<%= @region.name %>">
                    SAVE FEEDBACKS FOR <%= @region.name.upcase %> AND SEE PERSONALIZED RECOMMENDATIONS
                  </div>
              <% else %>
                <div class= "btn-brand feedback-btn validate-feedbacks-btn button-opacity text-center" id = "non-clickable-validate" data-toggle="popover" data-content="Please fill at least one feedback" data-placement="top" data-trigger="hover">SAVE FEEDBACKS FOR <%= @region.name.upcase %> AND SEE PERSONALIZED RECOMMENDATIONS
                </div>
              <% end %>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

<% end %>

<!-- Modal -->
<div class="modal fade" id="toReco" tabindex="-1" role="dialog" aria-labelledby="toRecoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="toRecoLabel"></h4>
      </div>
      <div class="modal-body text-center">
        <p>You will now start to see some personalized recommendations for your next trips</p>
        <p>Don't hesitate to fill feedbacks for more countries to get even more personalized recommendations</p>

      </div>
      <div class="modal-footer" id = "button-link">

      </div>
    </div>
  </div>
</div>


<%= content_for :after_js do %>

  <script>

    $(document).ready(function() {
      $('.validate-feedbacks-btn').click(function(){
        console.log('fr');
        var myRegion = $(this).data('region');
        $("#toRecoLabel").html('Your feedback for ' + myRegion +' is saved');
      })
    })

  </script>

  <script>

    $(document).ready(function() {
      $('.validate-feedbacks-btn').click(function(){
        if ($(this).hasClass('last_to_be_reviewed')){
          $('#button-link').html('<a href="/recommendations" class = "no-decoration"><button type="button" class="btn btn-brand no-decoration white">See recommendations</button></a>')
        } else {
          $('#button-link').html('<a href="/experiences" class = "no-decoration"><button type="button" class="btn btn-brand no-decoration white">See recommendations</button></a>')
        }
      })
    })
   </script>

<% end %>
