<%= form_tag experience_subexperiences_path(experience_id: @experience.id), id: "feedbackForm-#{poi_id}" do %>

  <div class = 'feedback-form hidden' id = '<%= poi_id %>' >
    <div class = 'rating-container'>

      <div class = 'row'>
        <div class = 'col-xs-12'>
         <h5>Loved <%= Poi.find(poi_id).name %>?</h5>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-xs-12 rating-area'>
          <% (1..5).each do |number| %>
            <div class = "col-xs-2 radio-button-padding">
              <label class="btn star-btn <%= 'rating-selected' if @rating_status[poi_id.to_s][number.to_s] %>" id = "<%= poi_id %>-<%= number %>" data-number = "<%= number %>" data-poi = "<%= poi_id %>">
                <i class="fa fa-star-o fa-2x rating-star empty-star" aria-hidden="true" id="<%= number %>"></i>
                <i class="fa fa-star fa-2x rating-star full-star hidden" aria-hidden="true" id="<%= number %>"></i>
                <input type="radio" class = 'hidden' name="rating" id="input-rating<%= number %>" value="<%= number %>" autocomplete="off" checked = "<%= 'checked' if @rating_status[poi_id.to_s][number.to_s] %>">
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-xs-12'>
          <%= text_area_tag :review, nil, placeholder: "Why this rating?", class: "form-control review-field-form text-zone", id: "review-#{ poi_id}" %>
        </div>
      </div>

    </div>

    <div class = 'row'>
      <div class = 'col-xs-12'>
        <h5>Any particular place you loved? (Hotel, activity, restaurant?)
        </h5>
      </div>

    </div>

    <div class = 'row'>
      <div class = 'col-xs-12 col-md-6'>
        <%= text_area_tag :activity_name, nil, placeholder: "Name", class: "form-control review-field-form activity-name-form text-zone"%>
      </div>

      <div class = 'col-xs-12 col-md-6'>
        <%= text_area_tag :activity_review, nil, placeholder: "Why was it so great?", class: "form-control review-field-form  text-zone"%>
      </div>

    </div>

    <div class = 'row button-row'>
      <div class = 'col-xs-12'>
        <%= hidden_field_tag 'poi_id', poi_id %>
        <%= submit_tag "SAVE FEEDBACK", class: "btn-brand", id: 'update-experience-button'%>
      </div>
    </div>
  </div>

<% end %>

<%= content_for :after_js do %>


<% end %>
