<div class="page-banner text-center">
  <div class="page-banner-title">
    <div class = "col-md-12 title-col">
      <span> <%= link_to root_path do %>
        <%= image_tag "blue_logo_no_word.png", class: "logo"%>
      <% end %> </span>
      <span class ="brand-name">Planisfer</span>
      <div class = "banner2-title-flexbox">
        <span class = "banner2-title">Build your traveler's profile... </span> </span> <span class = "banner2-title" id = "profile-banner2-title">and get personalized travel suggestions </span>
      </div>
    </div>
  </div>
  <span class = "booking-status text-desktop">
    <%= render 'shared/booking_status', :status => 0 %>
  </span>
</div>


<div class="container-fluid page-result">

  <div class="col-xs-12 col-md-9 right-border">

    <div class = 'row'>
      <div class = 'col-xs-12 text-center'>
        <h2 id = "profile-page-build">
          Build your traveler's profile
        </h2>
      </div>
    </div>

    <div class = 'row'>

      <div class = 'col-xs-12 col-md-3'>
        <div class = 'row'>
          <% @experiences.each_with_index do |experience, index| %>
            <div class = 'col-xs-12'>
              <a class="block profile-page-block destination <%= "active" if index == 0 %> <%= "dezoom" unless index == 0 %>">
                <%= image_tag "countryphoto/#{experience.region.name.downcase.delete(' ')}.jpg", class:"dest-image"%>
                <span class="box">
                  <span class="text in-box">
                    <span class="primarytext"><%= experience.region.name %></span>
                  </span>
                </span>
              </a>
            </div>
          <% end %>
        </div>
      </div>

      <div class = 'col-xs-12 col-md-9'>

        <div class = 'row'>
          <div class = 'col-xs-12'>
            <div class = 'selection-title'>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <h4>Which cities did you like/ did not like?</h4>
            </div>
          </div>
        </div>

        <% (0..@nb_rows - 2).each do |index| %>

          <div class = "row">

            <div class = 'col-xs-12 col-md-3 subexp-card-height'>
              <div class = "subexperience-card-container <%= 'subexp-opacity' unless index == 0%>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("#{@region.name.downcase.gsub(/\ /, '-')}/#{@pois[index * 2].downcase.gsub(/\ /, '-')}.jpg") %>);" data-poi-id = <%= @pois[index * 2] %> >
                <div class="subexperience-name text-center">
                  <h2><%= @pois[index * 2] %></h2>
                </div>
              </div>

            </div>

            <div class = 'col-xs-12 col-md-6'>
              <%= render 'subexp_feedback_form', poi: @pois[index * 2] %>
              <%= render 'subexp_feedback_form', poi: @pois[index * 2 +1] %>
            </div>

            <div class = 'col-xs-12 col-md-3 subexp-card-height'>
              <div class = "subexperience-card-container subexp-opacity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("#{@region.name.downcase.gsub(/\ /, '-')}/#{@pois[(index * 2) + 1].downcase.gsub(/\ /, '-')}.jpg") %>);" data-poi-id = <%= @pois[(index * 2) + 1] %> >
                <div class="subexperience-name text-center">
                  <h2><%= @pois[(index * 2) + 1] %></h2>
                </div>
              </div>

            </div>

          </div>

        <% end %>

        <div class = "row">
          <div class = 'col-xs-12 col-md-3 subexp-card-height'>
            <div class = "subexperience-card-container subexp-opacity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("#{@region.name.downcase.gsub(/\ /, '-')}/#{@pois[(@nb_rows -1) * 2].downcase.gsub(/\ /, '-')}.jpg") %>);" data-poi-id = <%= @pois[(@nb_rows -1) * 2] %> >
              <div class="subexperience-name text-center">
                <h2><%= @pois[(@nb_rows -1) * 2] %></h2>
              </div>
            </div>

          </div>

          <div class = 'col-xs-12 col-md-6'>
            <%= render 'subexp_feedback_form', poi: @pois[(@nb_rows -1) * 2] %>
            <% if @even_pois %>
              <%= render 'subexp_feedback_form', poi: @pois[(@nb_rows -1) * 2 +1]  %>
            <% end %>
          </div>

          <% if @even_pois %>

            <div class = 'col-xs-12 col-md-3 subexp-card-height'>
              <div class = "subexperience-card-container subexp-opacity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("#{@region.name.downcase.gsub(/\ /, '-')}/#{@pois[(@nb_rows -1) * 2 + 1].downcase.gsub(/\ /, '-')}.jpg") %>);" data-poi-id = <%= @pois[(@nb_rows -1) * 2 + 1] %> >
                <div class="subexperience-name text-center">
                  <h2><%= @pois[(@nb_rows -1) * 2 +1] %></h2>
                </div>
              </div>

            </div>

          <% end %>

        </div>

      </div>
    </div>


  </div>

  <div class="col-xs-12 col-md-3">
    <%= render 'shared/recommendations' %>
  </div>

</div>


<%= content_for :after_js do %>

  <script>

    $(document).ready(function() {
      $('.trip-category').mouseenter(function() {
        $(this).addClass('entered');
      })

      $('.trip-category').mouseleave(function() {
        $(this).removeClass('entered');
      })

      $('.trip-category').click(function() {
        if ($(this).hasClass('category-selected')) {
          $(this).removeClass('category-selected');
          $(this).removeClass('entered');
        } else {
          $(this).addClass('category-selected');
        }
      })
    })

    var firstPoi = '<%= @pois[0] %>';
    $('#' + firstPoi).removeClass('hidden');

    $('.subexperience-card-container').mouseenter(function() {
      $('.subexperience-card-container').addClass('subexp-opacity');
      $(this).removeClass('subexp-opacity');
      $('.feedback-form').addClass('hidden');
      var poiId = $(this).data('poi-id');
      console.log(poiId);
      $('#' + poiId).removeClass('hidden');
    })
    // $('.subexperience-card-container').mouseleave(function() {
    //   var poiId = $(this).data('poi-id');
    //   $('#' + poiId).addClass('hidden');
    // })

  </script>

<% end %>


