<div class="page-banner text-center">
  <div class="page-banner-title">
    <div class = "col-md-12 title-col">
      <span> <%= link_to root_path do %>
        <%= image_tag "blue_logo_no_word.png", class: "logo"%>
      <% end %> </span>
      <span class ="brand-name">Planisfer</span>
      <div class = "banner2-title-flexbox">
        <span class = "banner2-title">Build your traveler's profile... </span> </span> <span class = "banner2-title" id = "profile-banner2-title">and get personalized travel suggestions </span>
      </div>
    </div>
  </div>
  <span class = "booking-status text-desktop">
    <%= render 'shared/booking_status', :status => 0 %>
  </span>
</div>


<div class="container-fluid page-result">

  <div class="col-xs-12 col-md-9 right-border">

<!--     <div class = 'row'>
      <div class = 'col-xs-12 text-center'>
        <h2 id = "profile-page-build">
          Build your traveler's profile
        </h2>
      </div>
    </div> -->

    <div class = 'row'>

      <div class = 'col-xs-12 col-md-3'>
        <div class = 'row'>
          <% @experiences.each_with_index do |experience, index| %>
            <div class = 'col-xs-12'>
              <a class="block profile-page-block destination <%= "active" if index == 0 %> <%= "dezoom" unless index == 0 %>">
                <%= image_tag "countryphoto/#{experience.region.name.downcase.delete(' ')}.jpg", class:"dest-image"%>
                <span class="box">
                  <span class="text in-box">
                    <span class="primarytext"><%= experience.region.name %></span>
                  </span>
                </span>
              </a>
            </div>
          <% end %>
        </div>
      </div>

      <div class = 'col-xs-12 col-md-9'>

        <div class = 'row'>
          <div class = 'col-xs-12 text-center'>
            <h2 id = "profile-page-build">
              Which cities did you like / did not like?
            </h2>
          </div>
        </div>


        <div class = "row">

          <div class = 'col-xs-12 col-md-6 no-padding'>
            <div class = 'col-xs-12'>
              <div class = "subexperience-card-container main-subexp-card-container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("#{@region.name.downcase.gsub(/\ /, '-')}/#{@pois.first.name.downcase.gsub(/\ /, '-')}.jpg") %>);" data-poi-id = <%= @pois.first.id %> >
                  <div class="subexperience-name text-center">
                    <h2><%= @pois.first.name %></h2>
                  </div>
                </div>
            </div>
          </div>

          <div class = 'col-xs-12 col-md-6'>
            <div class = 'row'>

              <% @pois.each do |poi| %>
                <div class = 'col-xs-6 col-md-3 small-subexp-card-col'>
                  <div class = "subexperience-card-container subexp-opacity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("#{@region.name.downcase.gsub(/\ /, '-')}/#{poi.name.downcase.gsub(/\ /, '-')}.jpg") %>);" data-poi-id = <%= poi.id %> >
                    <div class="subexperience-name text-center">
                      <h2><%= poi.name %></h2>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>

          </div>

        </div>

        <div class = 'row'>
          <div class = 'col-xs-12'>
            <%= render 'subexp_feedback_form', poi_id: @pois.first.id %>
          </div>
        </div>

      </div>
    </div>


  </div>

  <div class="col-xs-12 col-md-3">
    <%= render 'shared/recommendations' %>
  </div>

</div>


<%= content_for :after_js do %>

  <script>

    $(document).ready(function() {

      var firstPoiId = '<%= @pois_hash[0][0].id %>';
      $('#' + firstPoiId).removeClass('hidden');

      if ($('.star-btn').hasClass('rating-selected')){
        var _this = $('.rating-selected');
        var selectedindex = $(_this).data('number');
        console.log(selectedindex);
        var lowerarr = [];
          for(var i=1; i<=selectedindex; i++) {
             lowerarr.push(i);
          }
        var poiId = $(this).data('poi');
        lowerarr.forEach(function(ind){
          // console.log(ind);
          $('#' + poiId + '-' + ind).children('.full-star').removeClass('hidden');
          $('#' + poiId + '-' + ind).children('.empty-star').addClass('hidden');
        })
        var higherarr = [];
          for(var i=selectedindex+1; i<=5; i++) {
             higherarr.push(i);
          }
        higherarr.forEach(function(ind){
          $('#' + poiId + '-' + ind).children('.full-star').addClass('hidden');
          $('#' + poiId + '-' + ind).children('.empty-star').removeClass('hidden');
        })
        $(this).find('input[type="radio"]')[0].checked = true;
      }


      $('.subexperience-card-container').mouseenter(function() {
        $('.subexperience-card-container').addClass('subexp-opacity');
        $(this).removeClass('subexp-opacity');
        $('.feedback-form').addClass('hidden');
        var poiId = $(this).data('poi-id');
        $('#' + poiId).removeClass('hidden');
        // $('.button-col').addClass('hidden');

        // (function($){
        //   $.fn.extend({
        //       donetyping: function(callback,timeout){
        //           timeout = timeout || 1e3; // 1 second default timeout
        //           var timeoutReference,
        //               doneTyping = function(el){
        //                   if (!timeoutReference) return;
        //                   timeoutReference = null;
        //                   callback.call(el);
        //               };
        //           return this.each(function(i,el){
        //               var $el = $(el);
        //               // Chrome Fix (Use keyup over keypress to detect backspace)
        //               // thank you @palerdot
        //               $el.is(':input') && $el.on('keyup keypress paste',function(e){
        //                   // This catches the backspace button in chrome, but also prevents
        //                   // the event from triggering too preemptively. Without this line,
        //                   // using tab/shift+tab will make the focused element fire the callback.
        //                   if (e.type=='keyup' && e.keyCode!=8) return;

        //                   // Check if timeout has been set. If it has, "reset" the clock and
        //                   // start over again.
        //                   if (timeoutReference) clearTimeout(timeoutReference);
        //                   timeoutReference = setTimeout(function(){
        //                       // if we made it here, our timeout has elapsed. Fire the
        //                       // callback
        //                       doneTyping(el);
        //                   }, timeout);
        //               }).on('blur',function(){
        //                   // If we can, fire the event since we're leaving the field
        //                   doneTyping(el);
        //               });
        //           });
        //       }
        //   });
        // })(jQuery);
        // $('#review-' + poiId).donetyping(function(){
        //   console.log(poiId);
        //   $('#review-' + poiId).text('Event last fired @ ' + (new Date().toUTCString()));
        // });
      })

    })

  </script>

  <script>
    $(document).ready(function() {
      // console.log('hesqde');
      $('.star-btn').mouseenter(function(e) {
        e.preventDefault();
        var selectedindex = $(this).data('number');
        var lowerarr = [];
          for(var i=1; i<=selectedindex; i++) {
             lowerarr.push(i);
          }
        var poiId = $(this).data('poi');
        lowerarr.forEach(function(ind){
          $('#' + poiId + '-' + ind).children('.full-star').removeClass('hidden');
          $('#' + poiId + '-' + ind).children('.empty-star').addClass('hidden');
        })
        var higherarr = [];
          for(var i=selectedindex+1; i<=5; i++) {
             higherarr.push(i);
          }
        higherarr.forEach(function(ind){
          // console.log(ind);
          $('#' + poiId + '-' + ind).children('.full-star').addClass('hidden');
          $('#' + poiId + '-' + ind).children('.empty-star').removeClass('hidden');
        })
      })

      $('.rating-area').mouseleave(function(e) {
        e.preventDefault();
        $(this).find('.full-star').addClass('hidden');
        $(this).find('.empty-star').removeClass('hidden');
        var selectedindex = $(this).find('.rating-selected').data('number');
        console.log(selectedindex);
        var lowerarr = [];
          for(var i=1; i<=selectedindex; i++) {
             lowerarr.push(i);
          }
        var poiId = $(this).find('.rating-selected').data('poi');
        console.log(poiId);
        lowerarr.forEach(function(ind){
          $('#' + poiId + '-' + ind).children('.full-star').removeClass('hidden');
          $('#' + poiId + '-' + ind).children('.empty-star').addClass('hidden');
        })
        // var higherarr = [];
        //   for(var i=selectedindex+1; i<=5; i++) {
        //      higherarr.push(i);
        //   }
        // higherarr.forEach(function(ind){
        //   $('#' + poiId + '-' + ind).children('.full-star').addClass('hidden');
        //   $('#' + poiId + '-' + ind).children('.empty-star').removeClass('hidden');
        // })
      })

      $('.star-btn').click(function(e) {
        e.preventDefault();
        if ($(this).hasClass('rating-selected')){
          $(this).find('.full-star').addClass('hidden');
          $(this).find('.empty-star').removeClass('hidden');
          $(this).removeClass('rating-selected');
        } else {
          $(this).find('.rating-selected').removeClass('rating-selected');
          $(this).addClass('rating-selected');
          var selectedindex = $(this).data('number');
          // console.log(selectedindex);
          var lowerarr = [];
            for(var i=1; i<=selectedindex; i++) {
               lowerarr.push(i);
            }
          var poiId = $(this).data('poi');
          lowerarr.forEach(function(ind){
            // console.log(ind);
            $('#' + poiId + '-' + ind).children('.full-star').removeClass('hidden');
            $('#' + poiId + '-' + ind).children('.empty-star').addClass('hidden');
          })
          var higherarr = [];
            for(var i=selectedindex+1; i<=5; i++) {
               higherarr.push(i);
            }
          higherarr.forEach(function(ind){
            $('#' + poiId + '-' + ind).children('.full-star').addClass('hidden');
            $('#' + poiId + '-' + ind).children('.empty-star').removeClass('hidden');
          })
          $(this).find('input[type="radio"]')[0].checked = true;
        }
        // var poiId = $(this).data('poi');
        // $('#feedbackForm-' + poiId).submit();
      })

    })
  </script>

  <script>
    // bind to retrieve old status
    $(".star-btn").mousedown(function() {
          var radio = $(this).find('input[type="radio"]')[0]
          var label = $(this)
        // if it was checked before
        if(radio.checked) {
          // bind event to reset state after click is completed
          $(this).mouseup(function() {

              // bind param, because "this" will point somewhere else in setTimeout
              // apparently if you do it immediatelly, it will be overriden, hence wait a tiny bit
              setTimeout(function() {
                // console.log(this)
                radio.checked = false;
                console.log(radio);
                label.removeClass("active")
              }, 5);
              // don't handle mouseup anymore unless bound again
              $(this).unbind('mouseup');
          });
        }
    });
  </script>

  <script>
    $(document).ready(function() {
      $('.text-zone').click(function(){
        $(this).parents('.feedback-form').children('.button-col').removeClass('hidden');
      })
    })
  </script>

<% end %>


